[2016-06-27 18:42] auser opened #3 "Add configureWithOptions"
https://firebase.google.com/docs/reference/ios/firebaseanalytics/interface_f_i_r_app.html#method-detail

[2016-06-27 20:43] #3 closed

[2016-06-28 06:44] shraddha1704 opened #4 "Android support"
This is a great module! When can we expect android support?

[2016-06-30 18:27] cihancil commented on #4
I am about to start a project. I will need Android support. Is it possible we get Android in 1-2 months?

[2016-07-08 09:43] auser commented on #4
@cihancil It's possible. I'm currently working on documentation for this module, so when I'm done with the post, I'm hoping to get to Android support, unless the community wants to jump in and help.

This is definitely a HIGH priority.

[2016-07-08 10:12] cihancil commented on #4
Firebase team announced that their JavaScript SDK now works with React Native. Might be better to focusing the parts that they don't support. For example their storage service.

[2016-07-08 12:35] auser commented on #4
I know. I've read through much of the source and am using it with this project. This library is really to serve as a shim to cover the stuff their JS library doesn't cover/support. The parts that DO work in the JS library are simple pass-throughs to their JS library.

[2016-07-23 21:09] amelekesov commented on #4
+1

[2016-07-29 20:42] Roman-K93 commented on #4
+1

[2016-08-01 08:15] PylypchukKhrystyna commented on #4
+1

[2016-08-01 08:15] SunaNoOshiro commented on #4
+1

[2016-08-05 00:59] praneybehl commented on #4
+1

[2016-08-08 19:43] alvirtuoso commented on #4
+1

[2016-08-09 01:23] g6ling commented on #4
I made [react-native-firebase-auth-android](https://github.com/g6ling/react-native-firebase-auth-android) which only support firebase auth. But you want to use firebase database, you can use firebase js version. And you want to add social Login with firebase, read this post.[How to add Firebase auth with react-native](https://github.com/g6ling/How-to-add-Firebase-Auth-with-react-native)

[2016-08-09 01:36] praneybehl commented on #4
Hi checking in since I am starting a new project that needs Android support.
How it is coming along?
Cheers

[2016-08-11 19:16] auser commented on #4
@praneybehl We're just getting start it on it. @g6ling seems to have a pretty good handle on it in his library. @g6ling Interested in collaborating and adding Android support together?

[2016-08-11 22:05] praneybehl commented on #4
Thanks for the info. I would love to help but my knowledge with Java is close to none. I work with javascript, so if there is anything I can help with, I would love to.

Cheers!

[2016-08-12 03:35] candicom commented on #4
+ 1

[2016-08-14 05:56] g6ling commented on #4
@auser yes. I'm interested in this library. I want to collaborate this project(Android version) with your team. What can i do for this project?

[2016-08-16 21:24] auser commented on #4
@g6ling Awesome. I know you've done some initial work with your repo on adding auth. The JS interface is pretty intentionally thin right now, so perhaps we can integrate some of your Android work to cover the auth API?

[2016-08-17 20:37] auser commented on #4
Holla all.

Okay, I pushed a _very_ basic, incomplete Android version based almost entirely on @g6ling's work. Although it's not complete, it's a start.

[2016-08-22 06:08] linuxing3 opened #7 "dyld: Library not loaded"
Got  error loading library with Xcode 7.3.1, which has no `Embed Framework`
Any ideas of solving this?

[code]

[2016-08-22 18:46] auser commented on #7
@linuxing3 can you add a build phase to copy the `Embed Framework`?

[2016-08-22 23:16] auser commented on #4
One more update: I added some notes to the android features with the rest of the JS api. Feel free to fill in the blanks. Should just be pretty easy to look in the Firebase docs and copy + paste the implementation.

[2016-08-23 04:08] linuxing3 commented on #7
Thanks for answering!

I follow this article [announcing](https://www.fullstackreact.com/articles/announcing-firestack-for-firebase/) and add `libFirestack.a` as `new copy file phase` to the project and no errors shown again.

I downloaded the google-service-info.plist and compiled successfully the project to install on my iphone device.

But when I tried to use the config to create a FireStack In

[2016-08-23 04:10] auser commented on #7
Hmm... are you using `npm` or the branch?

[2016-08-23 04:11] linuxing3 commented on #7
using `npm  i  react-native-firestack firebase`

[2016-08-23 04:12] auser commented on #7
Ah, yes... the latest version of firebase (not yet released, 'cause Android support isn't quite finished... although I might just merge it and release an update) automatically calls `configure()`. I'll update the npm module.

[2016-08-23 04:13] auser commented on #7
Can you grab the latest `npm` module (`v2.0.0`) and lemme know if you still see the error?

[2016-08-23 04:14] linuxing3 commented on #7
That will be great, thanks! I will give it a try.

[2016-08-23 04:15] auser commented on #7
Oh and I'm in the gittr chat room if you want to chat in there: https://gitter.im/fullstackreact/react-native-firestack

[2016-08-23 04:59] #7 closed

[2016-08-24 01:27] batuhan opened #8 "Running configure throws exception"
I'm not an iOS developer so I don't know how to debug this.

[code]

<img width="855" alt="screen shot 2016-08-24 at 04 26 08" src="https://cloud.githubusercontent.com/assets/535988/17915404/eb1c38ca-69b2-11e6-8bcf-7efe00a3b176.png">

Code I'm running:

import Firestack from 'react-native-firestack'

const firestack = new Firestack({
  apiKey: '[reducted]',
  authDomain: '[reducted].firebaseapp.co

[2016-08-24 02:59] linuxing3 commented on #8
I just got the same problem.
I found that the key definition is different in Object-C and js.
So instead of using `apiKey`, I changed to `APIKey

[2016-08-24 03:02] linuxing3 commented on #8
And to avoid conflict problem,  don't add GoogleService-Info.plist.
This worked for me.

[2016-08-24 03:02] linuxing3 commented on #8
NSArray *keyOptions = @[@"APIKey", @"clientID", @"trackingID",
                            @"GCMSenderID", @"androidClientID",
                            @"googleAppID", @"databaseURL",
                            @"deepLinkURLScheme", @"storageBucket"];

[2016-08-24 03:19] linuxing3 opened #9 "No permission error while using Firebase Database"
When I using the `firestack.database()` to get `key` object from `firebase real time database`,  it shows error `Client doesn't have permission to access Desired data`.
When I changed the rules in `firebase console` to no auth for reading, it works fine.
Does the database object need extra token to access database?

Rules on `firebase console`
[code]

Testing code
[code]

[2016-08-24 06:10] auser commented on #8
Hey guys -- Sorry about the bug. I have been working on a big refactor based on a conversation I had with the Firebase guys. I _should_ have a big update coming. I'll also update the `APIKey` value. Thanks for catching that @linuxing3

[2016-08-24 07:35] auser commented on #9
This has been updated with the latest source. Can you try it using the branch `feature/modules` branch?

[2016-08-24 20:31] auser commented on #9
I'll be pushing an update to the npm module later this week (hopefully tomorrow/Friday) if not

[2016-08-25 07:33] #8 closed

[2016-08-25 07:34] auser commented on #9
Should be closed with latest push `v2.1.0`

[2016-08-25 07:34] #9 closed

[2016-08-25 07:35] auser commented on #4
Android support is built-in and starting to be baked in. If you're interested in contributing, it's broken out into modules now and should be very straightforward.

[2016-08-27 10:01] heiseish opened #10 "Cannot read property 'debug' of undefined"
Hi, I'm trying to use firestack mainly to upload picture onto firebase storage.
My model firestack file:
`import Firestack from 'react-native-firestack'
const firestack = new Firestack();
firestack.setStorageUrl(someUrl).then(() => console.log("Project configured and ready to boot"));
module.exports = firestack;`

and in my main file i just require it as normal:
`var firestack = require('../../Mod

[2016-08-28 09:27] auser commented on #10
Ah interesting you're handling it with a model like that...

But ANYWAY, the latest version only works on iOS and I _just pushed a fix_ for the bug you're seeing. That's because you're not passing an object (even an empty object) in to the constructor of Firestack. Try it again with the latest master branch, if you would.

[2016-08-28 09:51] heiseish commented on #10
@auser Hi thanks for the response! The previous problem has been resolved but there is a new one.
<img width="487" alt="screen shot 2016-08-28 at 5 49 57 pm" src="https://cloud.githubusercontent.com/assets/16302244/18032909/e273f576-6d47-11e6-8182-d57379d97115.png">

[2016-08-28 20:09] auser commented on #10
Ah! The docs need to be updated. If you pass a `storageBucket` in the config of the `Firestack()` constructor, this happens automatically. I can update it to pass the `setStorageUrl()` on the firestack object.

Right now it's exposed through a different "object" and you can call `setStorageUrl()` like this:

[code]

Do you think it makes sense to expose the `setStorageUrl()` function through on `f

[2016-08-29 03:27] heiseish commented on #10
Hi, Thank for the clarification. I figured that all functions related to storage should have a `.storage` preceedingly (ie uploadFile).  I think it makes sense to have `setStorageUrl()` inside `storage`, since there is already the firestack constructor to take in the storage URL.
Right now when i try to pass the storage Url to `firestack.storage.setStorageUrl()` it keeps throwing this error `somet

[2016-08-29 04:35] auser commented on #10
Ah... I don't think that is your error. Actually, this is a bug in the `Firestack.Storage` iOS class.

Give me a few minutes to update the class.

[2016-08-29 04:38] auser commented on #10
Okay, can you try now from the `master` branch?

[2016-08-29 05:20] heiseish commented on #10
Hi,
`firestack.storage.setStorageUrl(someUrl).then(()=>{})` doesn't seem to work (keep throwing this error `cannot read property then of undefined`. I check the source code and see it no longer returns prosimify (..) and the way I did was i removed all the `then` in all `storage` functions so it doesnt throw an error on start up. Without the `then(function)`, the simulator runs without any error b

[2016-08-29 05:21] auser commented on #10
Yep, I just tested it here... want to try one more time?

[2016-08-29 05:25] heiseish commented on #10
may I see your example please?

[2016-08-29 05:31] auser commented on #10
Of course.

[code]

and the render view

[code]

[2016-08-29 05:35] heiseish commented on #10
Thank you! I will try again later and tell you the result.

[2016-08-29 05:47] auser commented on #10
Great. I also updated the README with the example.

[2016-08-29 06:10] heiseish commented on #10
Hi, I try the example and it throws
`
ExceptionsManager.js:76 Exception '*** setObjectForKey: key cannot be nil' was thrown while invoking uploadFile on target FirestackStorage with params (
    "gs://someURL",
    "photos/${filename}",
    "/Users/G/Library/Developer/CoreSimulator/Devices/6AF0B403-BEAE-43B0-8B6B-A369B4384691/data/Containers/Data/Application/C8FB519B-4C67-4685-BB91-CD9DCE8DCE36/tm

[2016-08-29 06:37] auser commented on #10
Hm... did your file get uploaded? Do you see anything in the Xcode console?

[2016-08-29 06:45] heiseish commented on #10
Hi, I'm in the middle of an lecture now so I'm afraid I can't talk rn.
The file didn't get uploaded but I will try rm rf, re-install the module and get back to you with the results later when i get home. Thank you for the help!

[2016-08-29 06:46] auser commented on #10
(Ah, well... gittr is a text-based chat room if you change your mind). I'm working on the Java side right now anyway... Perhaps you can gist me the Xcode logs stack, when  you get a chance. I'd love to see what we can figure out.

[2016-08-29 06:50] heiseish commented on #10
Yup I will create a gist of Xcode logs if the problem still persists after re-installing.

[2016-08-29 13:56] praneybehl commented on #4
Great work, Is there a list of what is currently available for Android?

[2016-08-29 16:07] heiseish commented on #10
@auser Hi, thank you very much for your help. I believe it's my silly mistake to not config firebase properly (ie adding firebase to the project). Please mark the issue as resolved.

With that said, this is such an awesome module! Can't wait to try it on android when full support comes out.

[2016-08-29 16:20] #10 closed

[2016-08-29 16:22] auser commented on #4
Thanks.

My tests show that auth is working on android. I confirmed file uploading works as well. The database has partial support (have a few remaining pieces of code to complete, but the logs show exactly what).

Off the top of my head, the rest still needs some work, but I can look deeper when I get to a keyboard.

[2016-08-30 07:39] auser opened #11 "Add presence functionality"
It would be nice to have `presence` capabilities:

re: [https://firebase.google.com/docs/database/android/offline-capabilities](https://firebase.google.com/docs/database/android/offline-capabilities)

[2016-08-30 08:30] auser commented on #4
Okay, I've updated quite a bit of the Android API. Storage, Analytics are complete.

Auth still needs some providers work (2 methods)
Database needs to add `off()` and `removeListeners()`

Otherwise everything else should be covered.

[2016-08-30 22:50] praneybehl commented on #4
@auser this is awesome, I am hoping these will be ready soon. So if someone was to start dev, what would you say wait or get started as it's coming real soon.

Really appreciate your work here  👍 💯

Cheers

[2016-08-30 22:52] auser commented on #4
@praneybehl Hey, thanks for the comment. Yeah, definitely get started. I aim to help support your app with features. Plus, it can help discover any bugs/features as you're building. Feel free to join the gittr room if you want to discuss more.

Cheers!

[2016-08-30 22:55] praneybehl commented on #4
@auser Thanks mate, I will now. Is there a link to the Gittr room?

[2016-08-30 22:56] auser commented on #4
Here ya go: [gitter](https://gitter.im/fullstackreact/react-native-firestack)

I'll update the README if it's not there already.

[2016-08-30 22:57] praneybehl commented on #4
Thanks mate just joined

[2016-09-01 02:31] DVassilev opened #12 "Facebook Auth"
When you mention that facebook oauth is not fully implemented, what do you mean exactly? Also are there any plans on extending this to make use of all firebase features?

Thanks!

[2016-09-01 02:42] auser commented on #12
@DVassilev yep! It is intended on covering all the features of Firebase (as much as possible) and Facebook OAuth isn't fully implemented in that it's not built-in and there is some trickiness around setting it up within the library itself.

It's definitely a priority, though

[2016-09-01 03:02] DVassilev commented on #12
@auser oh ok so Facebook currently not functional. Great project though, very handy! I'll try it out soon - do you take donations? Would love to support the further development of this if it proves useful

[2016-09-01 03:05] auser commented on #12
Not yet... hopefully I can get it finished shortly. Feel free to contribute to the project, if you'd like as well. Donations? Yeah, that's a good idea... Perhaps I should put that up.

I also just worked with @praneybehl to get the README simpler, so hopefully it's a seamless experience for you.

[2016-09-01 03:14] DVassilev commented on #12
Definitely, I'll try to contrivute but at the very least if we use this would be happy to donate. Also it was quite difficult to find this repo, I kept searching for react native firebase and this was far from the first results so I had to go through quite a lot of other outdated ones to get to this which seems to be by far the best.

[2016-09-01 03:16] auser commented on #12
Oh shoot... we should fix that... I'm working on a blog post series to get more details/docs out there.

Feel free to share/tweet about it.

[2016-09-01 12:36] DVassilev commented on #12
@auser does this work with https://github.com/fullstackreact/react-native-firestack ? I'm getting the following error when I try to use GeoFire with database through firestack.

`Unhandled JS Exception: Invalid GeoFire location '[object Object]': location must be an array`

[2016-09-01 19:20] auser commented on #12
Ah just saw this. The child method should be really easy to add. I'll update the library with it shortly.

As far as the orderByChild, it should also be straightforward. If you're interested in contributing, I can walk you through it. I can also update it instead.

[2016-09-01 19:50] auser commented on #12
I've added the `child()` method to the JS. Will need to update the native sides to use the `orderBy...` functions. I will handle that this holiday weekend.

As far as bit-code goes, It's tough to include for some dependencies (I forget the specifics this minute) required it to be turned off. I can try that again this weekend. (I agree, bitcode would be nice)

[2016-09-02 00:59] auser opened #13 "Add googleAuth login"
Feature to add googleAuth example/update API to include it through `FirestackAuth`

[2016-09-02 01:27] DVassilev commented on #12
@auser thanks for adding child. I'd be happy to give it a go (adding orderBy) if you can guide me through it (never worked with RN and native modules before though). Had to fall back to the JS firebase library to use it with GeoFire until this has that function. As for bitcode, I suppose it's not really a priority just something down the track you could consider.

[2016-09-02 01:53] auser commented on #12
Yes, I'll investigate bit-code this weekend.

I'll be back at a keyboard tonight and would be happy to walk you through the library and how to add it.

I haven't investigated geofire yet. Perhaps when we walk through it, we can try it with the library.

I'm on gchat at: ari@fullstack.io. Feel free to add me and I'll hit you up when I return.

[2016-09-02 02:01] DVassilev commented on #12
@auser Do you mind if we use this repo's gitter? I don't have gchat

[2016-09-02 04:04] auser commented on #12
I don't mind. I'll be back shortly!

[2016-09-02 04:28] auser commented on #12
@DVassilev I am in the gitter channel. Ping me if you'd like to discuss

[2016-09-02 04:53] DVassilev opened #14 "Analytics Error"
Analytics seems to not be functioning correctly. Firebase was added to XCode manually not via Pods.

`<FIRAnalytics/ERROR> Unable to insert bundle. Error: Error Domain=com.google.gmp.measurement.ErrorDomain Code=1 "Failed to insert bundle without App ID" UserInfo={NSLocalizedDescription=Failed to insert bundle without App ID}
<FIRAnalytics/ERROR> Transaction failed`

[2016-09-02 20:16] marclundgren opened #15 "libFirestack.a?"
Where can I find `libFirestack.a`?

I'm following step 1 in the [manual setup steps](https://github.com/fullstackreact/react-native-firestack#manually)

[2016-09-02 20:31] auser commented on #15
Holla @marclundgren What do you mean? Did you call `react-native link react-native-firestack`?

[2016-09-03 00:18] auser commented on #15
@marclundgren Okay, I've got it... I forgot to list a step on the installation process for manually linking. I'll update the readme shortly, but for you:

Make sure you add the `Firestack` library in the `Libraries` list

[2016-09-03 00:18] #15 closed

[2016-09-03 22:02] kendrickkesley opened #17 "download file from storage"
Hi! I was wondering if this library can download file from firebase storage
I'll be using this on Android

Thanks!

[2016-09-04 01:14] auser commented on #17
When you say download, do you mean and save on device or get the db url?

[2016-09-04 05:29] auser commented on #4
We have parity in coverage now.

Social auth have yet to be implemented (mostly due to time)

[2016-09-04 05:29] #4 closed

[2016-09-04 05:41] auser commented on #11
`onDisconnect()` is implemented on both Android/iOS

[2016-09-04 05:46] auser commented on #14
Some more detail to this error:

This works on Android. Still investigating iOS

[2016-09-04 06:20] kendrickkesley commented on #17
just get the db url,
thanks!

[2016-09-04 09:18] auser commented on #17
Yes it does (working on Android implementation now). I'll add docs on it as well when I'm done.

[2016-09-04 09:21] #17 closed

[2016-09-04 10:21] kendrickkesley commented on #17
Ah thanks you! :)

[2016-09-04 21:34] auser commented on #17
No problem. And it's confirmed on both platforms. I'll add docs on it tonight.

[2016-09-05 14:32] IjzerenHein opened #19 "Bitcode is not enabled for real device iOS builds"
Hi,

First of all I'd like to thank you for creating this awesome library, kudos! 👍 👍

When building for my actual phone on iOS I'm getting an error that bitcode is not enabled in `libFirestack.a`. I checked the firestack project and it is indeed disabled there. Is this on purpose and if so what dependency requires that bitcode is not enabled.
I'm currently stuck with my build on this as I really

[2016-09-05 20:39] auser commented on #19
Hein,

Thanks for the note. You're the second to ask for this (thanks for making the issue). I disabled it previously as bit-code caused a build error previously. I don't recall the specific reason why I had it disabled, but I will investigate and report back.

[2016-09-05 20:44] IjzerenHein commented on #19
Awesome! If I can be of any assistance let know.
Cheers, Hein

[2016-09-05 20:49] IjzerenHein commented on #19
Btw, quick other question. I've integrated Firebase Crash reporting in my App. Complete with console.log interception and correct callstacks (both iOS and Android). Would you be interested in having this code to the firestack codebase?

[2016-09-05 20:57] auser commented on #19
Hein,
Absolutely! I've been meaning to put that on the feature list!

[2016-09-05 21:13] IjzerenHein commented on #19
Alright cool. It's really busy at the moment, but I'll to create a pull request for it anytime soon.

[2016-09-05 21:24] auser commented on #19
Hein,

Let me know if you want some help on how to integrate it.

[2016-09-05 21:29] IjzerenHein commented on #19
Yeah, well most of it is pretty straightforward to integrate. The only tricky thing is that when building the bundle, it also needs to generate sourcemaps. I've modified my scripts for it, but not sure how that would need to be done automatically when installing the firestack lib (or using `react-native link`). I'll have a closer look when I have more time.

[2016-09-05 21:29] IjzerenHein commented on #19
And yeah, having it in a separate module such as `crash` would definitely also make sense to me. 👍

[2016-09-05 21:33] IjzerenHein commented on #19
Btw, I was using the storage API's today and noticed the examples in the README are out of date.
It says 'firestack.uploadFile` but it should be `firestack.storage.uploadFile`. But you're probably already aware of this :)

[2016-09-05 21:54] auser commented on #19
Oh yes! Can you make a PR with that update?

[2016-09-05 23:06] auser opened #20 "Make an example with tests"
Feature request:

It would be great to make a canonical example with automated testing to ensure the API is covered and working as expected.

[2016-09-06 01:15] auser commented on #19
Okay, I recall why bit-code needed to be disabled. Firestack is built as a dynamic library, which needs to be linked against static libraries (React). Until we find a way to dynamically link Firestack to React, we can't enable bitcode.

Any suggestions?

[2016-09-06 07:46] auser commented on #19
As of now, I can't enable bitcode due:

1. bitcode and the undefined flag are opposites (for obvious reasons, but we cannot build a library that cannot find it's symbols, but cannot build a dynamic library without using `-undefined` flag (yet).
2. Setting the build to a static library does not allow our app to find the Firebase libraries
3. Setting the build to a dynamic library does not allow our

[2016-09-06 07:46] #19 closed

[2016-09-06 09:18] auser commented on #11
Any opinions on this API for `presence`:

[code]

[2016-09-06 09:34] #11 closed

[2016-09-06 16:04] IjzerenHein opened #21 "Best way to initialize and use firestack"
Hi, I've got a question concerning how to use the library.
According to the config I have to create an firestack instance like this:

[code]

However, what if I'm using Firestack in multiple files? Can I create a new instance per file in which I need it? Is this the preferred approach?

[code]

[code]

Cheers, Hein

[2016-09-06 19:56] auser commented on #21
Hein,

Thanks for the question. It's actually a singleton object, so you can call `new Firestack()` and it will reference the same object.

[2016-09-06 19:57] #21 closed

[2016-09-06 22:33] auser opened #22 "Push notifications"
[Cloud messaging](https://firebase.google.com/docs/cloud-messaging/)

Add cloud messaging.

[2016-09-10 17:39] saleeh93 commented on #12
#23 Check it out

[2016-09-10 21:57] auser commented on #12
@saleeh93 Awesome! Great catch!

[2016-09-10 22:01] saleeh93 commented on #12
@auser there was some more issues there and npm is not with latest version of git code

[2016-09-10 22:02] saleeh93 commented on #22
did you stated anything yet..?
I am happy to contribute

[2016-09-10 22:04] auser commented on #22
@saleeh93 I have not started this feature yet. Contributions would be great here!

I'll hang out in the [gitter](https://gitter.im/fullstackreact/react-native-firestack) room if you want to discuss.

[2016-09-10 22:07] auser commented on #12
@saleeh93 yes, I haven't released a new npm version. Perhaps now is a good time.

I am working on an example app so we can get some automated testing baked in. I'm confident it's working right here. Will cut a new release.

[2016-09-10 22:11] saleeh93 commented on #22
@auser lets catch up there

[2016-09-10 22:31] auser commented on #22
@saleeh93 sounds good

[2016-09-11 04:28] mikesurowiec opened #25 "Storage "upload_progress" event always has progress of 1"
Seeing this on iOS

[2016-09-11 04:44] mikesurowiec opened #26 "[discussion] database.ref().push(); get key of generated child"
Hey there!

I was wondering if there's a better way to get the key of the child generated from a push()...
[code]
Not sure if I'm missing something or if the function should change to include the generated key on the response. Also curious if `res.name[0]` will always be the correct path

Thanks!

[2016-09-11 08:00] auser commented on #26
Hey @mikesurowiec

Hey, thanks for asking! I just added a `key` getter to the DatabaseRef base class, so you can call it something slightly different:

[code]

[2016-09-11 08:00] #26 closed

[2016-09-11 08:22] auser commented on #25
Confirmed this as a bug and am pushing the fix shortly. Thanks for reporting!

[2016-09-11 08:22] #25 closed

[2016-09-11 14:18] mikesurowiec commented on #26
You are awesome, thank you!

[2016-09-11 17:16] mikesurowiec opened #27 "Query with startAt / endAt not working?"
I'm trying to get pagination working in my app, but it appears the startAt / endAt doesn't affect the queries. I'm using it in conjunction with `limitToLast`, I'm not sure if that's an issue.

I was playing with a couple different strategies, so let me see if I can boil it down...

[code]

I'm also pretty new to firebase, so there could just be a logical error in there 😄

Thanks for you time!

[2016-09-12 00:57] auser commented on #27
@mikesurowiec I'll look into it right now. I'm not sure about your specific query, but I'll take a peek!

[2016-09-12 01:43] auser commented on #27
@mikesurowiec Confirmed this as a bug and just pushed the fix. Can you try using the master branch, or push an `npm`?

Thanks for reporting!

[2016-09-12 02:00] #27 closed

[2016-09-12 02:00] auser commented on #20
I have a _starting_ app here. I'll update this issue with more details when I push the example app for automating testing.

[2016-09-12 04:49] prescottprue commented on #13
Looking into adding this as a way to dive into Contributing to the library.

[2016-09-12 05:02] auser commented on #13
Awesome @prescottprue. Let me know if you want some assistance. It should be pretty straight-forward, but I'd love to get your thoughts about it if it's confusing.

[2016-09-12 20:29] ChristianTucker opened #28 "Database event 'once' does not fire."
Just going to go ahead and leave this here as I tested a few scenarios using firestack version 2.2.3 and React-native version 0.32.0.

[code]

Will never fire, however calling

[code]

and then deregistering the listener works fine.

EX:

[code]

The problem with this is that .off() stops execution, so it must be done at the bottom of the chain, which makes it a mess to do with promises, you have

[2016-09-12 20:49] auser commented on #28
Hey @ChristianTucker thanks for the issue.

So, `firestack` is built on promises, so it won't callback a function like the way you have it written there. Instead, it will resolve the promise. For example:

[code]

The child syntax does work. What are you trying to do with the child syntax?

[code]

[2016-09-12 20:53] ChristianTucker commented on #28
@auser, sorry I was in the middle of editing my issue, the `child` problem was my own which is why it was removed (almost immediately before you responded). I'm getting responses with the callbacks (and promises) it doesn't seem to matter which of them I use. Although knowing that promises are the way it was designed, I'll make sure to stick with them.

The only issue here is the `once` call, sorr

[2016-09-12 21:00] auser commented on #28
Yes, every function in firestack returns a promise, so you can reshape your example to take advantage of that. For instance, you might change your function to:

[code]

[2016-09-12 21:00] #28 closed

[2016-09-14 15:22] auser commented on #22
@saleeh93 the PR #30 has the introduction of the JS/Android version, if you wanted to start on the iOS version.

[2016-09-14 16:25] auser commented on #20
The example app (currently just app structure) is a WIP at: https://github.com/fullstackio/FirestackApp

[2016-09-14 18:15] auser commented on #22
@saleeh93 @advans I just pushed a branch `feature/messaging` that includes stubs for iOS using the same JS api, if either of you want to/get a chance to update the messaging iOS side from: https://firebase.google.com/docs/cloud-messaging/ios/client

[2016-09-15 08:26] saleeh93 commented on #22
@auser Little busy right now

[2016-09-15 14:23] alexkendall opened #31 "Database ref.on does not work on Android"
I have the same exact code on Android and iOS for observing value changes on my database. It works on iOS as expected but does not work on Android. I have placed my code below as a reference:

[code]

[2016-09-15 18:54] auser commented on #31
Are you working on `master` or the npm module?

[2016-09-15 18:56] alexkendall commented on #31
I believe so... I installed it using "npm install react-native-firestack --save".

[2016-09-15 18:57] auser commented on #31
Hmm... that's the latest... I'll check over here too

[2016-09-15 19:05] auser commented on #22
@saleeh93 no problemo. Just keeping you updated on progress :)

[2016-09-15 19:13] auser commented on #31
I'm seeing it here too... currently debugging...

[2016-09-15 19:37] auser commented on #31
Okay, tracked it down. I should have a fix here shortly

[2016-09-15 19:38] alexkendall commented on #31
Cool sounds great.

[2016-09-15 20:31] auser commented on #31
@alexkendall got it.

Want to test it on your end?

[2016-09-15 20:34] alexkendall commented on #31
Yup. Will be glad to.

[2016-09-15 20:52] auser commented on #31
Have one more fix coming...

[2016-09-15 23:10] auser commented on #31
Okay, good news and bad news!

Good: It's fixed
Bad: I pushed it to the `feature/messaging` branch. Can you pull and try it from that branch?

[2016-09-16 01:06] alexkendall commented on #31
I pulled from the messaging branch and can confirm that the issue is fixed. Thanks a ton!

[2016-09-16 01:20] auser commented on #31
@alexkendall awesome! Feel free to report any bugs whenever you encounter one. It _definitely_ helps.

I hope to get the push notifications/messaging in/complete this weekend!

[2016-09-16 01:20] #31 closed

[2016-09-17 07:23] auser commented on #14
This is still a bug, but working with the Firebase team to figure this one out.

[2016-09-20 15:14] mikesurowiec opened #32 "runtime crash: Symbol not found: _OBJC_CLASS_$_AppDelegate"
Hey there, starting with this commit: d737b3697d11e I'm unable to run my project. I get the following error right after the app launches:

[code]

[2016-09-20 16:29] auser commented on #32
Shoot! I merged a working commit in master.

I'll take a quick debug look and see if I can track that down.

I believe the npm module won't do that.

[2016-09-20 17:36] mikesurowiec commented on #32
No worries! I didn't realize you had WIP stuff there

[2016-09-20 18:07] auser commented on #32
@mikesurowiec Do you have an AppDelegate in your iOS app source?

[2016-09-20 18:09] mikesurowiec commented on #32
We do, but it's AppDelegate.swift

[2016-09-20 18:52] auser commented on #32
Gotcha. Well, that makes sense as to why that error is happening...

Can you try adding the @obj attribute to the class (https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html) and see if that fixes it for you?

[2016-09-21 03:57] auser commented on #14
Alright, I have confirmation from the Firebase team that this issue is on the Firebase side, not the `react-native-firestack` side. Unfortunately they don't have a timeframe estimate for the fix, but I'll be sure to update this thread as soon as I hear more.

[2016-09-21 04:47] blumanski opened #33 "FirebaseApp with name [DEFAULT] doesn't exist"
After I added the code below to the android manifest (Readme File), I got the error "FirebaseApp with name [DEFAULT] doesn't exist".

I guess you added that recently with some upgrades to the android messaging.
Anyway, it is not a problem, after removing it was running again.

I assume this will come with the next npm release?

    +   <service android:name="io.fullstack.firestack.FirestackMessagi

[2016-09-21 06:50] auser commented on #32
Fixed.

[2016-09-21 06:50] #32 closed

[2016-09-21 06:52] auser commented on #33
Yes, I'm working off master. We'll definitely need to address messaging soon.

The warning shouldn't be an issue... did that happen off the first load or follow-ups?

[2016-09-21 06:52] #33 closed

[2016-09-21 08:30] blumanski commented on #33
In the logs in Android Studio I had the message that "io.fullstack.firestack.FirestackMessagingService" cant be found or something like that.

And on the device, using "react-native run-android" I got the "FirebaseApp with name [DEFAULT]"
So, nothing to be concerned, I thought, I just mention it in case somebody jumps now on and is getting that error.
Great work and Thanks

[2016-09-21 23:19] tarkanlar opened #34 "How to use with redux?"
I am trying to add this library to my react native app. I successfully set it up but how can I properly make it work with redux? In `read me` it says there is FirestackModule but can anyone explain better how to implement with redux?

[2016-09-22 05:12] auser commented on #34
Hey @tarkanlar,

Thanks for leaving this question! Yes, I can describe it better for you. Basically, the FirestackModule is an interface between Firestack and Redux. I have a TODO to fill out the docs for the FirestackModule. If you're interested in more depth, I can hop on gitter and walk through it... it would be a good way for me to start documenting the module.

[2016-09-22 10:29] tarkanlar commented on #34
@auser  Thanks for your reply,  I pulled and checked your FirestackApp repo it is a great source but I am confused in a few parts of the code. Anyway I will ask on gitter.

[2016-09-22 21:39] #34 closed

[2016-09-23 05:05] blumanski opened #35 "Android"
I know, this is still in progress.
I am testing a bit at the moment and noticed some stuff.

On IOS the code below works fine, it is getting data and is updating data on change.
The same code does not work on android yet.

    _this = this
            this.props.FirebaseStack.database.ref('chat/Zeitkapsel/messages').on('value', function(snapshot) {
                _this.setState({

[2016-09-23 05:43] auser commented on #35
Oh yikes! I'll check that shortly. Thanks for reporting!

[2016-09-23 06:22] blumanski commented on #35
It seems just to load and the callback never finish, no error message either.
Thanks for looking

[2016-09-23 07:09] auser commented on #35
Hmm... I can't replicate it... it's working here... Are you using the `npm` version or the github version? @blumanski

[2016-09-23 09:38] blumanski commented on #35
I am using the npm version, I will retest it tomorrow, may it's another problem.
I may will upgrade master branch and see how that goes.

Thanks @auser

[2016-09-23 18:45] auser commented on #35
Awesome @blumanski

I believe the npm and github version are much different than each other. I'll tag the next release

[2016-09-23 22:48] auser commented on #19
I *think* I fixed the `bitcode` issue. I pushed the latest update to the `feature/bitcode` branch, if you're interested in trying it out in your app.

[2016-09-25 16:22] IjzerenHein opened #39 "Invalid Swift Support error occurs when deploying App to the Appstore"
Hi,

I've reached the point where I am deploying the App to the iOS app-store, but the app is being rejected because of the following error:

[code]

After some investigating and disabling libraries I found that this happens when including firestack. After removing firestack using `react-native unlink react-native-firestack` the problem disappears.

Has anyone already ran into this, any solutions?

[2016-09-25 16:42] tarkanlar commented on #39
Hi I haven't deploy yet but when I tried to integrate ```https://github.com/fullstackreact/react-native-oauth``` I have seen the same error and removed oauth

[2016-09-26 00:08] blumanski commented on #35
@auser
I just tried it using the master branch instead of the npm version.
It works fine.

I did run into some IOS build trouble, I will try again to get it run and let you know.
Cheers

[2016-09-26 00:25] #35 closed

[2016-09-26 00:32] blumanski opened #40 "Build IOS errors"
Using the master branch, I get the following errors on build/run.
I followed the readme, it is working fine on Android.
I guess something is not linked, google service ugraded?

Thanks

Xcode Error Messages

    node_modules/react-native-firestack/ios/Firestack/FirestackCloudMessaging.m:102:3:
    Use of undeclared identifier 'UNAuthorizationOptions'

    node_modules/react-native-firestack/ios/Fi

[2016-09-26 00:36] blumanski commented on #40
Ok, could that be the ios emulator, it's probably not running on the emulator I can imagine.

[2016-09-26 01:33] auser commented on #35
Did you figure out the iOS build issue?

Get Outlook for iOS

On Sun, Sep 25, 2016 at 5:26 PM -0700, "Oliver Blum" <notifications@github.com> wrote:

Closed #35.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-26 01:36] auser commented on #40
Mmm the cloud messaging isn't fully implemented yet, so I am not quite sure yet on its implementation.

Have any experience with cloud messaging? I'm not convinced yet with its api. Have any interest in sketching a JS implementation together?

[2016-09-26 01:36] auser commented on #40
And yes, I upgraded all packages with the last push

[2016-09-26 04:12] blumanski commented on #40
I just had a quick look, it looks already good, this below was working fine on android. But that was the only thing I tested quickly.

    this.props.FirebaseStack.cloudMessaging.getToken().then(function(token) {
        console.log(token);
    })

I am happy to test it and see what I can do.

Regarding the built error in IOS, I couldn't get that running and focus right now more on android. Nothin

[2016-09-26 15:26] jeromegrosse opened #41 "RemoteConfig"
What's up with the RemoteConfig?
From what I can see it is still in the WIP state, any news with that?

[2016-09-26 17:26] auser commented on #41
Not yet... it hasn't been a heavily-requested feature to implement over the other ones:

https://firebase.google.com/docs/remote-config/

It's not fully implemented (as you noted, but it's on the list).

[2016-09-26 17:26] #41 closed

[2016-09-26 18:12] auser commented on #39
Yes, the auth library requires swift... I think I need to update the README as I haven't touched react-native-oauth in a little bit.

[2016-09-26 18:21] IjzerenHein commented on #39
Why has this been closed? I'm not using oauth in any way in my app, nevertheless the deploy to the app store is failing.
Should I change something in my app to resolve this?!

[2016-09-26 18:21] auser commented on #39
What is the error, @ljzerenHein? Is it still giving you the same trouble without `react-native-oauth`?

[2016-09-26 18:23] IjzerenHein commented on #39
Yes, I'm not using `react-native-oauth`. I merely included `react-native-firestack` in my app and am only using the Storage functionality of that.

[2016-09-26 18:25] auser commented on #39
@ljzerenHein. Okay, lemme check it here.

[2016-09-26 18:25] IjzerenHein commented on #39
Awesome, thanks @auser

[2016-09-26 23:26] auser commented on #39
Update: I'm able to replicate this. Hunting it down now.

[2016-09-27 13:26] DVassilev commented on #39
Can confirm I received the same issue. Glad to see it being resolved!

[2016-09-27 22:01] vico-aguado opened #42 "logEventWithName error"
When I try to use Analytics, I get this error:

I have:
[code]

In fact I login and retrieve info from Firebase with success

[2016-09-28 01:50] slycoder commented on #40
I think this was fixed with #38

[2016-09-28 04:02] auser commented on #42
Oh... the docs need to be updated.

It's now: `firestack.analytics.logEventWithName()`. Apologies for the inconvenience!

[2016-09-28 04:02] #42 closed

[2016-09-28 13:08] nelsonkam opened #43 "Which part of the API is not available on Android ?"
The documentation in the README file states that:

But doesn't precise which feature-set is supported or not by Android.

[2016-09-28 17:13] auser commented on #43
Good question! I'll update the README. with coverage details.

(traveling today, so I'll add this while in flight). We're _mostly_ completely covered between the two platforms.

[2016-09-28 18:18] nelsonkam commented on #43
Thanks for your attention. Have a nice trip :wink:. Cheers !

[2016-09-28 23:23] blumanski commented on #40
Yes, all good

[2016-09-28 23:23] #40 closed

[2016-09-29 01:00] blumanski opened #44 "IOS - FirestackReceiveNotification is not a supported event type"
On IOS I get the following error using cloud messages.
The build is fine and the app is running, just the red screen comes up.
Running on emulator or device.

    FirestackReceiveNotification is not a supported event type for FirestackCloudMessaging.
    Supported events are: messaging_event, messaging_error, messaging_token_refresh, ……

Code I use

    FirebaseStack.cloudMessaging.listenForReceiv

[2016-09-29 05:41] blumanski opened #45 "setStoragetUrl"
Not really an issue, readme update needed, the gs:// is automatically added.

does not work

    firestack.storage.setStorageUrl(`gs://${config.firebase.storageBucket}`)

does work

    firestack.storage.setStorageUrl(`${config.firebase.storageBucket}`)

[2016-09-29 08:58] auser commented on #45
@blumanski want to make a PR?

[2016-09-29 21:46] blumanski commented on #45
done

[2016-09-29 21:46] #45 closed

[2016-09-30 11:55] auser commented on #39
I resolved this the simplest way...

I have _not_ pushed the update to `npm` yet (I want to make sure it works for everyone and update the README). Please, update your libraries and run this command:

`rnpm unlink react-native-firestack && react-native link react-native-firestack`

It will create a Podfile for you and install the dependencies, if you don't already have one.

[2016-09-30 15:01] IjzerenHein commented on #39
Alright cool, I'll hopefully get around testing this soon. I'll keep you posted

[2016-10-03 00:57] #39 closed

[2016-10-03 00:58] #20 closed

[2016-10-03 10:43] Catuna commented on #43
@auser Any ETA on when this will be done?

We would really like to use Firestack in our project but we need to know what is missing from Android :)

[2016-10-04 02:01] rchrdschfr commented on #43
@auser Also really need to know what's missing from Android

[2016-10-04 04:19] auser commented on #43
Yes -- we are actually pretty close to covering everything. I'll make a chart and update the README with it, but auth/analytics/database/storage/presence are all complete on the Android side.

Although I haven't tested it myself, messaging is in for Android as well.

[2016-10-04 05:08] rchrdschfr commented on #43
Thanks @auser. I just tested sending upstream messages on Android successfully. Using the old send() though, as sendMessage() doesn't appear to be implemented for Android yet.

[2016-10-04 07:38] auser commented on #43
Is this the messaging api?

Get Outlook for iOS

On Mon, Oct 3, 2016 at 10:08 PM -0700, "Richard Schaefer" <notifications@github.com> wrote:

Thanks @auser. I just tested sending upstream messages on Android successfully. Using the old send() though, as sendMessage() doesn't appear to be implemented for Android yet.

—
You are receiving this because you were mentioned.
Reply to this email directly

[2016-10-05 01:16] rchrdschfr commented on #43
Yes, the cloudMessaging API

[2016-10-05 01:40] rchrdschfr commented on #43
I get

`[TypeError: undefined is not an object (evaluating '(_ref=typeof fn==='function'?fn:NativeModule[fn]).call')]`

When attempting to call sendMessage() on Android. send() works as expected, though.

[2016-10-05 02:12] alanhoff opened #49 "How to download file from the bucket"
Hey there, I'm using iOS and the latest version of Firestack. Is there a way to download a file from the bucket instead of only generating the URL?

[2016-10-05 17:22] auser commented on #49
As of right now, not yet -- but should be pretty easy to implement.

Android: https://firebase.google.com/docs/storage/android/download-files
iOS: https://firebase.google.com/docs/storage/ios/download-files

Feel free to fork and add, if you're interested in getting a PR in. I'll try to get to this this weekend.

[2016-10-05 17:27] alanhoff commented on #49
My iOS skills are awful, but it would be great to have this feat. Let me know if you need help with testing :-)

[2016-10-05 18:17] auser commented on #43
@rchrdschfr I actually did not implement the cloudMessaging API so I'm a tad less familiar with it. I'll set this as higher priority and check that tonight.

[2016-10-05 20:48] alanhoff opened #50 "Do not restart the upload entirely"
Hello there,

Firebase claims that up/downloads starts where they were stopped, but making a simple test using airplane mode shows that the upload starts all over again. Do you know anything about this feature?

![](https://www.dropbox.com/s/lrm7hy4fxzc3tx2/Screenshot%202016-10-05%2013.47.45.png?dl=1)

[2016-10-05 20:59] alanhoff opened #51 "No visible @interface for FIRMessaging"
Hello there,

I'm having troubles compiling my project with the latest `react-native-firebase`. This is what Xcode  complains about:

[code]

My Xcode version is `Version 8.0 (8A218a)`, here is my `Podfile.lock`:

[code]

And I'm using React Native v0.34.1. If I remove that line the project compiles just fine and it's a short term solution for me since we're not using Cloud Messaging.

[2016-10-05 21:02] alanhoff commented on #49
@auser actually I'll try to implement the download stuff this week, but feel free to implement it if I don't PR until the weekend :-)

[2016-10-05 21:04] auser commented on #49
Oh awesome! Should be too hard. Feel free to jump in the gitter room if you have any questions. I try to stay active in there.

[2016-10-05 21:06] auser commented on #49
Hopefully the source for both android and iOS is understandable. I'm working on a test harness as well, so soon it should be even clearer.

[2016-10-05 21:12] auser commented on #51
Awesome. Are you using cocoapods? If not, when you like to firestack, it should automatically create a pod file for you.

Also, that error happens when you have an older version of cloud messaging. Try running:

`(cd iOS && pod update --verbose)`

[2016-10-05 21:14] auser commented on #44
I'll look into this

[2016-10-05 21:35] alanhoff commented on #51
`pod update --verbose` solved the problem. Thanks!

[2016-10-05 21:35] #51 closed

[2016-10-06 00:48] alanhoff opened #52 "Do not create a window.document"
Some libraries check for the existence of `window.document` to detect browser, this can lead to false positives.

https://github.com/fullstackreact/react-native-firestack/blob/8394be046f6a38b51b793b1ec54ac8aae06e11b3/lib/utils/log.js#L6

[2016-10-06 10:36] jeromegrosse commented on #44
I have exactly the same error.

[2016-10-06 18:17] miclaus opened #54 "How to remove unused dependencies?"
If I don't need e.g. `FirebaseAuth`, how can I remove unused Pods dependencies?

Currently I commented out FirebaseAuth in my `Podfile` and rerun `pod install`, which removed FirebaseAuth, however Xcode throws me the following error:

<img width="260" alt="screen shot 2016-10-06 at 20 15 48" src="https://cloud.githubusercontent.com/assets/4658706/19164798/bdb1d64e-8c01-11e6-8dcc-919fdbbbb80b.png">

[2016-10-07 01:58] auser commented on #54
Hey!

I'll push a fix for that to master in an hour for that bug. Apologies!

I'll close this if it's solved for you.

[2016-10-07 04:45] auser commented on #54
@miclaus Can you try with the latest master branch?

[2016-10-07 06:14] miclaus commented on #54
@auser sure can do. I did try it with the current master branch.

Just for the record, here's my `Podfile`:

[code]

[2016-10-07 06:49] ajonno opened #55 "unable to build in XCode. No visible @interface for 'FIRMessaging' declares the selector 'setRemoteMessageDelegate:'"
am seeing this error after following ios install steps and trying to run XCode project directly :-

No visible @interface for 'FIRMessaging' declares the selector 'setRemoteMessageDelegate:'

XCode Version 8.0 (8A218a)
deployment target: 8.0
"react": "15.3.2",
"react-native": "0.34.1",
"react-native-firestack": "^2.3.0"

[2016-10-07 18:31] auser commented on #55
I'll update the readme to fix this.

`(cd ios && pod update --verbose)`

[2016-10-07 18:31] #55 closed

[2016-10-07 23:08] ajonno commented on #55
great thanks!

[2016-10-10 07:09] chrisbianca opened #57 "No callback to handle database_error event"
I've just been trying to get Firestack set up on a brand new project using the FirestackModule and have found an issue when a database permission error is thrown on iOS.

In database.js, a native success and error listener are added for "database_event" and "database_error".  However, in FirestackDatabase.m, both the database events and errors are sent with the "database_event" identifier.

This m

[2016-10-10 07:31] chrisbianca commented on #57
Added PR https://github.com/fullstackreact/react-native-firestack/pull/58 as one way of fixing this issue

[2016-10-10 09:06] miclaus commented on #54
I'll give it another try later today.

[2016-10-10 16:56] jsappme opened #59 "iOS build failed with Xcode 8.0"
I followed the whole instruction process but it's giving me weird errors while building the project:

any idea why?

Undefined symbols for architecture arm64:
  "___cxa_guard_release", referenced from:
      cachedSystemFont(double, double) in libReact.a(RCTFont.o)
  "std::terminate()", referenced from:
      ___clang_call_terminate in libReact.a(RCTJSCExecutor.o)
  "std::__1::mutex::lock()", refe

[2016-10-10 17:29] jsappme commented on #59
Here is the end of my errors:

  "operator delete[](void*)", referenced from:
      -[RCTJSCExecutor dealloc] in libReact.a(RCTJSCExecutor.o)
      executeRandomAccessModule(RCTJSCExecutor*, unsigned int, unsigned long, unsigned long) in libReact.a(RCTJSCExecutor.o)
      readRAMBundle(std::__1::unique_ptr<__sFILE, int (*)(__sFILE*)>, RandomAccessBundleData&) in libReact.a(RCTJSCExecutor.o)

[2016-10-10 19:31] rishabhsaxena commented on #44
@auser hey, any progress on this?

[2016-10-10 20:35] auser commented on #59
Yeah, try adding the flag: `-lc++` to your target in OTHER_LDFLAGS (other linker flags).

[2016-10-10 20:36] auser commented on #57
Awesome! Thanks for the PR. Good spot.

[2016-10-10 20:36] #57 closed

[2016-10-10 20:37] auser commented on #54
I confirmed it works over here with your same podfile. I'll assume it's working over there and close this issue for now. Feel free to reopen.

[2016-10-10 20:37] #54 closed

[2016-10-10 22:46] jsappme commented on #59
Yes I have those for other linker flags: $(inherited) -ObjC -lc++

[2016-10-10 23:26] jsappme commented on #59
I have a solution to my issue. I added -lc++ to the Project (Not Target) Settings > Other Linker Flags

[2016-10-11 00:38] jsappme opened #63 "createUserWithEmail Error returned"
createUserWithEmail() error does not return a rawDescription

[2016-10-11 01:19] jsappme opened #64 "ApplicationId must be set with Android"
I am getting this error: ApplicationId must be set

I don't see ApplicationId in the config options.

[2016-10-11 01:47] jsappme commented on #64
I went through the android installation of the google-services.json and it's now working.

[2016-10-11 01:47] #64 closed

[2016-10-11 03:42] blumanski commented on #31
@auser
Was that ever merged into the master branch?
I work from the master branch and the problem is till there on android.

[2016-10-11 03:58] auser commented on #31
Hmm... yes, I think it is on the master branch. Have a git repo I can check out?

[2016-10-11 04:33] blumanski opened #65 "Get IOS running - Analytics error"
Lexical or Preprocessor Issue Group

I work of the master branch.

Xcode errors

    #import <FirebaseCore/FIRAnalyticsConfiguration.h>
    include of non-modular header inside framework module FireBaseAnalytics

    /.........../ios/Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRAnalyticsConfiguration.h:1:9: Include of non-modular header inside framework modul

[2016-10-11 05:03] blumanski commented on #31
Ah, yeah, I wrote it wrong, I used a promise instead of a callback...
All good, Thanks

[2016-10-11 13:13] alexkendall commented on #12
Facebook Auth has been working for me for a while if anyone is wondering.

[2016-10-11 18:34] jsappme opened #68 "Incoherence between android and ios"
firebaseApp.database.ref('users').child(user.uid).once('value')

has different response returned for android and ios.

Is it normal?

[2016-10-12 02:12] jsappme opened #69 "No downloadUrl from the response of storage.uploadFile with iOs"

[2016-10-12 03:03] jsappme commented on #69
here is my current solution that is not ideal:

`              firebaseApp.storage.uploadFile(`posts/${uid}/${imageName}`, source, {
                contentType: 'image/jpeg',
                contentEncoding: 'base64',
              })
              .then((res) => {
                console.log('The file has been uploaded')
                console.log(res);
                console.log("----------")

[2016-10-12 15:44] vairix-grodriguez commented on #64
+1

[2016-10-13 00:06] jsappme opened #70 "Missing request token for request Error"
I am getting a weird error sometimes, any idea why?

Missing request token for request: <NSMutableURLRequest: 0x60000001fdf0> { URL: https://firebasestorage.googleapis...

[2016-10-13 06:41] yogieputra8 opened #71 "Ask - Unable to find a specification for `Firebase` when linking modules"
So I try to created a new RN project, then I installed firestack module `npm install react-native-firestack --save`, everythings worked fine from here.
But when I tried to linking the modules with `react-native link react-native-firestack`,
Somethings goes wrong
[code]
Can you guys help me how to solve this issue?
Sorry for this silly questions

[2016-10-13 06:46] yogieputra8 commented on #71
Ah! I forget to install the firebase module before install this firestack.
Maybe it's a good idea to give an explanation on the **README** about having firebase module before install this firestack. IMO

[2016-10-13 06:46] #71 closed

[2016-10-13 09:54] yogieputra8 opened #72 "Error - 'Firebase.h' file not found"
I tried to buid with react-native run-ios for the first time and it gives me error:
[![Screen Shot 2016-10-13 at 4.51.20 PM.png](https://s3.postimg.org/i87n6y883/Screen_Shot_2016_10_13_at_4_51_20_PM.png)](https://postimg.org/image/olwqa7d3z/)

here's my package.json:
[code]
Can you guys help me how to solve this issue?

[2016-10-13 10:09] auser commented on #72
This has been fixed in master. I'll cut a new release.

[2016-10-13 10:09] #72 closed

[2016-10-13 10:09] auser commented on #70
What platform? Is it intermittent?

[2016-10-13 12:46] Talkwondo commented on #72
Hi,
Can you explain what you say? i have the same problem too.

Thanks,

[2016-10-13 18:26] jsappme commented on #70
iOs and yes very intermittent. I am still investigating this issue. I was approaching my firebase storage quota limits yesterday, it might be related to this.

[2016-10-13 18:49] Talkwondo commented on #12
Hello @alexkendall can you share your code?
i want to make a login from facebook to sign up in firebase also in the database with a unique uid.

[2016-10-14 00:23] jsappme commented on #65
+1

[2016-10-14 02:15] blumanski commented on #65
@auser
Today I was able to build for IOS which is great :-)

But the app is not running on ios, its crashing with the error below
emulator and iphone tested.

    ExceptionsManager.js:82 Exception 'Failed to get default FIRDatabase instance.
    Must call FIRApp.configure() before using FIRDatabase.' was thrown while invoking
    onOnce on  target     FirestackDatabase with params (
    "/marketAl

[2016-10-14 02:49] jsappme commented on #65
I fixed this by uncomment the "use_framework!" line in the podfile.
and running pod install again
H
 🎉

[2016-10-14 05:04] blumanski commented on #65
That didn't work for me....

I have installed a fresh app with newest versions, uncommented use_frameworks, still not working on ios with the same error as above.

If I use cloudMessage stuff in the code, the app is crashing right after start.
More testing....

[2016-10-14 05:54] blumanski commented on #65
That looks like the right answer...

    http://stackoverflow.com/questions/37334323/the-default-app-has-not-been-configured-yet

[2016-10-14 10:03] miclaus commented on #54
@auser I pulled the latest master commit and ran `pod install` and I get a bunch (20) errors:

<img width="415" alt="screen shot 2016-10-14 at 12 01 11" src="https://cloud.githubusercontent.com/assets/4658706/19383691/0581bcd2-9206-11e6-98d4-974b4f620839.png">

I'm not sure whether I'm doing it right..
What are the steps that I have to do after pulling a new version?

Thank you for your patience !

[2016-10-14 10:05] auser commented on #54
Are you opening the `.xcworkspace`?

[2016-10-14 10:06] miclaus commented on #54
Yes, but let my try again.

[2016-10-14 10:08] miclaus commented on #54
@auser Yes I can confirm.

[2016-10-14 10:12] auser commented on #54
hm... I have a deadline I'm working towards right now on a talk I'll be giving in ~5 hours or so. Mind if I ask you to hold tight for a few more hours?

[2016-10-14 10:15] miclaus commented on #54
@auser sure no problem! Thanks for your quick response and your help. We really appreciate it.

P.S.: Good luck for your talk !

[2016-10-14 10:55] miclaus commented on #54
Here are the steps that I tried (maybe this illuminates the problem) :
- removed `Firestack.xcodeproj` from Libraries
- removed `react-native-firestack`from node_modules
- ran `npm install` from root directory (I use the latest commit e754101)
- removed `Podfile.lock`
- ran `pod install` from ios directory
- opened my project's `.xcworkspace`
- manually linked Firestack according to your guide

**

[2016-10-14 14:35] jsappme commented on #65
Make sure you have 'Firebase/Analytics' on your podfile, here is mine:

target 'Fishii' do
  # Uncomment this line if you're using Swift or would like to use dynamic frameworks
 use_frameworks!

  # Pods for Fishii

  target 'FishiiTests' do
    inherit! :search_paths
    # Pods for testing
  end

end
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'

[
  'Firebase',
  'Firebase

[2016-10-14 22:50] blumanski commented on #65
Lol, I found the problem...
I had to drag the "GoogleService-Info.plist" file into xcode...

Thanks anyway :-)

[2016-10-14 22:50] #65 closed

[2016-10-15 22:09] auser commented on #69
Just to clarify, the issue is that the `res.url` exists on `ios` and _not_ on Android?

[2016-10-16 02:20] auser commented on #63
For which platform?

[2016-10-16 02:21] #52 closed

[2016-10-17 19:16] auser commented on #68
Will address this this week. I prefer the iOS version, but do you have a preference? Nested in `user` or not?

[2016-10-17 19:41] harry008 opened #74 "Linking fails on windows10"
After installing the package `react-native link react-native-firestack` fails.
The bash scripts are causing an error on windows.
After removing the commands prelink/postlink in `node_modules/react-native-firestack/package.json`  as per @auser's recommendation it works on windows10.

[2016-10-17 23:27] sammy6464 opened #75 "FirestackModule error on android: ApplicationId must be set"
Hi I'm getting the following error (attached).
I looked and there is an applicationID in my app/build.gradle file. Is this a bug or have I configured something wrong? Thanks
<img width="483" alt="screen shot 2016-10-18 at 12 26 39" src="https://cloud.githubusercontent.com/assets/21329063/19459272/2506935e-952e-11e6-98c4-68acb7f58cdc.png">

[2016-10-18 09:50] sammy6464 commented on #75
Was because I hadn't connected the googleservices.json file as per the instructions and had supplied the wrong package name in the add firebase to app step. Thanks a lot for pointing me to the problem.

[2016-10-18 09:50] #75 closed

[2016-10-18 11:18] sammy6464 opened #76 "signInWithEmail just hangs on android"
Hi,
I have a project which is setup to work indentically on ios and android, and so far firestack is working for database methods e.g set, however when I go to call signInWithEmail it works perfectly on ios, but just hangs and hangs on android, and my computer starts humming from the cpu going crazy I guess...
There's no feedback in the console nothing changes it would just go on and on if I dont

[2016-10-18 11:25] sammy6464 commented on #76
Just to add the database operations are connecting fine on the android version

[2016-10-18 16:55] auser commented on #76
Thanks for the report. I'll check into this this weekend!

[2016-10-18 22:24] sammy6464 commented on #76
Great thanks Ari

[2016-10-19 05:58] blumanski commented on #44
This call works without error

    FirebaseStack.cloudMessaging.subscribeToTopic("film").then(function (topic) {
            // whatever
        }).catch(function(err){
            console.error(err);
        });

Those below one doesn't

    FirebaseStack.cloudMessaging.listenForReceiveNotification((msg) =>{
        console.log(msg.data);
        console.log(msg.notification);
    });

    Fireba

[2016-10-19 22:56] gemfile commented on #59
It seems like the same issue in the link below.
https://github.com/facebook/react-native/issues/8890

[2016-10-19 23:04] auser commented on #59
Yes, this is a react-native issue, _not_ a firestack issue.

[2016-10-19 23:04] #59 closed

[2016-10-19 23:34] tegument opened #78 "transaction implemented?"
I'm trying to update a post object in Firebase using a transaction, but i'm getting an error that transaction is not defined.

I looked in:

\react-native-firestack\lib\modules\database.js

but do not see any references to transactions, is this implemented?

Example code:

`function toggleStar(postRef, uid) {
  postRef.transaction(function(post) {
    if (post) {
      if (post.stars && post.stars

[2016-10-19 23:39] gemfile commented on #65
I resolved the same way with blumanski.

[2016-10-20 07:06] auser commented on #78
Good catch. We do not yet have transactions implemented.

Wanna make a PR? I can walk you through how to do it, if so. Otherwise, I'll see if I have time this weekend.

[2016-10-20 14:17] tegument commented on #78
I took a look but I think this is a bit over my head, I'm not much of a java programmer.  I definitely appreciate your help.

[2016-10-21 17:29] kulikalov opened #81 "Please specify a valid Google App ID."

[2016-10-21 17:39] #81 closed, assigned to nobody

[2016-10-22 15:41] tegument opened #82 "orderByChild not working"
I have items stored in firebase with a 'createdAt' property which is the server TIMESTAMP.  The TIMESTAMP value is being set correctly, but when querying using orderByChild('createdAt') the order is not correct.

I have verified that the same query run with the firebase javascript API works as expected:

`firestack.database.ref('images').orderByChild('createdAt').once('value', (snapshot)=>{
   //

[2016-10-22 16:00] tegument commented on #82
If I use the following query the result is in the correct order:

`fsImageRef.orderByChild('createdAt').on("child_added", function(snapshot) {
        console.log(snapshot.val().createdAt);
      });`

Am I not using the correct method?  I just need to load all by createdAt

[2016-10-23 11:10] auser commented on #82
What platform are you testing it on or is it both (iOS/Android)?

[2016-10-23 13:34] tegument commented on #82
Android only.

I'm also having the same issue with the following query:

Works with Firebase JS API:
`imagePageRef = firebaseApp.database().ref('feeds/'+uid).orderByChild('createdAt').endAt(lastItemKey).limitToLast(pageCount + 1);`

Doesn't work with Firestack:
`imagePageRef = firestack.database.ref('feeds/'+uid).orderByChild('createdAt').endAt(lastItemKey).limitToLast(pageCount + 1);`

Firestack

[2016-10-23 13:36] auser commented on #82
Great. I'll take a look... thanks for reporting!

[2016-10-23 13:37] tegument commented on #82
Np! I'd love to help troubleshoot this further and looked through the JS/Java to see if I could find anything.  Please let me know what you find so I can possibly be a better help in the future haha

[2016-10-23 13:41] tegument commented on #82
I haven't been testing on iOS yet, but if I do i'll let you know.

[2016-10-23 14:42] bzytan opened #83 "Native module cannot be null"
Hi there, I followed the documented steps on how to do the manual linking on iOS.
After doing so I get  the attached result when attempting to import Firebase in my code with
import Firestack from 'react-native-firestack';

I'm wondering if I'm not doing the linking correctly or if its a result of incompatibility with my RN version (0.32). Is this something of a known issue?

![simulator screen sh

[2016-10-23 21:36] auser commented on #83
Are you using cocoapods?

[2016-10-24 20:07] sammy6464 commented on #76
OK so this was due to my google play services in the emulator. If anyone else is having this issue make sure to update your google play services.

[2016-10-24 20:07] #76 closed

[2016-10-24 23:11] moooji commented on #83
Yes, I am using cocoapods and I get the same error.

[2016-10-24 23:53] moooji commented on #22
It looks like most of the work has already been done here!
https://github.com/evollu/react-native-fcm

Maybe there is a possibility to merge the libraries?

[2016-10-25 08:05] OrenElad commented on #72
Still have this issue on v ^2.3.2

[2016-10-25 08:32] yogieputra8 commented on #72
I tried to setup from the beginning and it works. Try these details steps:
1. Do `react-native init your_app`
2. Do `npm install firebase --save` inside your_app folder
3. Do `npm install react-native-firestack --save`
4. Do ` react-native link react-native-firestack`.
5. Inside ios folder in your project folder check your Podfile, edit your Podfile to be like these:
[code]
6. Do `pod install` fro

[2016-10-25 16:07] auser commented on #83
Hm... what version of `react-native-firestack` are you running?

[2016-10-25 16:12] auser commented on #82
I found it, I think. I haven't been able to test it yet, but I'm pretty certain I know the issue

[2016-10-25 18:05] moooji commented on #83
Ok, it is now working for me after a:
[code]

I think the issue might have been that I used the git repo as package source in between. When I switched back to the published "2.3.2", it did not update my node_modules with the "official" version and kept the files from git.

[2016-10-25 18:54] moooji commented on #83
I am using version 2.3.2 in a fresh RN 0.35 / 0.36 project using CocoaPods.

The installation guide says:

1. Install the npm package
2. Link the project with react-native link react-native-firestack
3. Modify the Build Phases for iOS like it says below.

I cannot find any information about 3. "Build Phases" though. Maybe that's the problem. What needs to be changed in Build Phases?

[2016-10-25 23:21] tegument commented on #82
Awesome! let me know if you have a patch and I can test it out

[2016-10-26 11:43] auser commented on #83
Weird. I thought I took care of that already... I'll test over here. Thanks for the report. Also, I'll update the README. You no longer need to manipulate the build phases. :)

[2016-10-26 11:47] auser commented on #82
@tegument I just pushed a branch called `feature/query`. Can you try it out there?

[2016-10-26 11:54] auser commented on #14
The latest version of firestack/firebase fixes this bug. YAY!

[2016-10-26 11:54] #14 closed

[2016-10-26 12:00] auser commented on #12
Yes, this is resolved. Especially with `react-native-oauth` :)

[2016-10-26 12:00] #12 closed

[2016-10-26 12:18] auser commented on #13
Completed. Check with https://github.com/fullstackreact/FirestackApp

[2016-10-26 12:18] #13 closed

[2016-10-26 12:42] auser commented on #22
Yes, I have reached out to the author, but he's pretty resistant to merge the two libraries, as far as I can tell. I'll reach out to him again and see his interest. Feel free to reach out to him as well. Perhaps we make an issue?

[2016-10-26 12:42] #43 closed

[2016-10-26 12:46] yn5 commented on #55
@auser Could you still update the README? I ran into the same problem and it took me a while to get here.

[2016-10-26 12:51] tegument commented on #82
i'm using the following query:

`imagePageRef = firestack.database.ref(dbPath).orderByChild('createdAt').endAt(lastItemKey).limitToLast(itemsPerPage + 1);`

but receive the following error:

"You can't combine multiple orderBy calls!"

![capture](https://cloud.githubusercontent.com/assets/1362670/19726542/46a0aeb0-9b40-11e6-8acd-a25ccd168c4c.JPG)

[2016-10-26 12:53] auser commented on #63
@jsappme ^^

[2016-10-26 13:36] sammy6464 opened #86 "Standardised authentication errors"
Right now the authentication error objects returned sometimes have a 'name' property with what is essentially the error code, and sometimes a 'code' property. This makes switching over the error in a reducer quite complicated as they're not consistent e.g 'action.payload.name' vs 'action.payload.code'.
Also it seems as though firebase are moving towards descriptive text errors as the 'code' rather

[2016-10-26 13:50] sammy6464 commented on #86
Code references here http://cocoadocs.org/docsets/FirebaseAuth/3.0.2/Constants/FIRAuthErrorCode.html

[2016-10-26 16:15] pedro-ribeiro opened #87 "Callback calling order can lead to logins being confused with logouts"
`FirestackAuth.java` methods like `signInWithEmail` and `googleLogin` are setting a `user` instance variable using an `onComplete` callback. In turn, `onAuthStateChanged` defined inside the `listenForAuth` method is relying on this instance variable to determine if an event relates to a login or a logout.

Logs were added to show the order by which these callbacks /can/ end up being called.

Once

[2016-10-26 17:37] yn5 commented on #55
@auser In case this meets your intentions for amending the README: https://github.com/fullstackreact/react-native-firestack/pull/88

[2016-10-26 18:05] moooji commented on #22
I have opened an issue here https://github.com/evollu/react-native-fcm/issues/177. Feel free to comment and add your thoughts.

[2016-10-27 09:28] pedro-ribeiro opened #90 "Support getProdiverData()"
`FirebaseUser` exposes a `getProviderData` method that returns a list of objects that represent the linked identities of the user. This method is not yet supported by Firestack.

See [firebase documentation](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseUser#getProviderData()).

[2016-10-27 10:26] pedro-ribeiro opened #91 "Database#on is not supporting cancel callbacks"
[Database#on](https://github.com/fullstackreact/react-native-firestack/blob/master/lib/modules/database.js#L405) is not supporting setting cancel callbacks. This makes it impossible to deal with Permission Denied errors.

Currently, on error the library will simply log the error message. (https://github.com/fullstackreact/react-native-firestack/blob/master/lib/modules/database.js#L401)

See [Fireb

[2016-10-27 11:06] auser commented on #91
Mmm good catch. I must have left this on the TODO. Think we should just throw a JS event back on errors?

[2016-10-27 11:07] auser commented on #90
Not yet. Wanna try a PR? Should be pretty straight-forward to implement.

[2016-10-27 12:15] pedro-ribeiro commented on #91
In my opinion, it should mimic as much as possible the firebase js sdk.

[2016-10-27 13:10] yn5 opened #92 "iOS build fails after react-native-firestack install in clean react-native project"
## Commands used
[code]
Added the GoogleService-Info.plist file to the root of the xcworkspace and ran:

[code]

## Versions used
OSX: 10.11.6
node: 7.0.0
npm: 3.10.8
react-native-cli: 1.0.0
react-native: 0.36.0
react-native-firestack: 2.3.2

## Output
#### Link to full output
https://paste.ee/p/Sg2B3

#### Output of the build fail
[code]

[2016-10-27 14:10] auser commented on #92
That's a react native issue. Add `-lc++` to your target

[2016-10-27 14:10] #92 closed

[2016-10-27 14:11] auser commented on #92
Project target or test target. Whichever one is failing

[2016-10-27 14:15] yn5 commented on #92
@auser Thanks for your help. Could you please elaborate on how to add `-lc++` to the failing (test) target?

[2016-10-27 14:26] auser commented on #92
Sure.

Click on your target in Xcode and go to the build settings tab. Find other linker flags and add it there.

[2016-10-27 14:29] yn5 commented on #92
@auser Thank you!

[2016-10-28 11:37] chrisbianca opened #93 "Incorrect documentation for updateUserPassword"
The documentation states that to update a user's password you should call the method updateUserPassword.  However, the method is actually called updatePassword.

Happy to submit a PR.  Should I correct the documentation, or update the name of the method?

The other update methods seems to follow the updateUserXXX convention...

[2016-10-29 12:02] miclaus commented on #54
@auser have you had some time to take a look at this issue ?

[2016-10-29 15:33] VLNTNA opened #96 "Offline persistance between app restarts"
Hello,

I have the following problem:
- At first I request data like so: `firestack.database.ref().child('projects').on('value', callback)`
- Then I go offline and close the app completely
- When I restart the app and still offline, the same request is executed - according to the Firebase docs, it should be possible to query that data locally because it has already been previously loaded when onli

[2016-10-30 12:20] fishinthenet opened #97 "FirebaseApp name [DEFAULT] already exists!"
Hi, after integrating firestack and setup my project in firebase (i've integrated google-services.json as well), i've got this error.

`10-30 13:11:45.080    5443-5479/com.deck D/Firestack﹕ New instance
10-30 13:11:45.080    5443-5479/com.deck D/FirestackAuth﹕ New FirestackAuth instance
10-30 13:11:45.081    5443-5479/com.deck D/FirestackAnalytics﹕ New instance
10-30 13:11:45.081    5443-5479/com.

[2016-10-30 14:13] fishinthenet commented on #97
It seems that this error isn't important. I had problems couse of using android emulator with wrong image (without google API)

[2016-10-30 18:25] chaitanya0bhagvan opened #98 "Firestack init called twice"
Logs in XCode show _Setting up Firestace instance_ twice. So Firestack is created twice and the first object is destroyed soon after. I am not able to figure out where this creation is happening.

[2016-10-30 18:31] chaitanya0bhagvan commented on #96
Try this.

`const firestack = new Firestack(FIREBASE_CONFIG);
let firestackDb;
firestack.onReady(()=> {
  firestackDb = firestack.database;
  firestackDb.setPersistence(true);
});
`

Disable the network and restart the app and all your queries should work just fine.

[2016-10-30 19:18] VLNTNA commented on #96
Thanks for your response ! I already set persistence to true, like you suggested.

Database operations that I execute offline, are successfully sent to Firebase when re-establishing connection. For example, it works when I add new data offline.

But when starting the app, I initially have to load all data that is stored at a specific path in Firebase with `.on('value')`. So when I try to load this

[2016-10-30 19:35] auser commented on #98
Ah... yes, this was a lower priority for me... originally, this was addressed by hooking into the `AppDelegate`... since I pulled away from that (to support swift support), this was introduced. In part, this happens because the `configure()` method happens after React Native creates the Firestack instance initially. Since it's mostly benign, I've pushed this priority lower.

[2016-10-30 19:36] auser commented on #97
This isn't an error. It's happens for the same reason #98.

[2016-10-30 19:36] #97 closed

[2016-10-30 19:38] auser commented on #96
Yes. It's embedded with the RN SDK, so it's possible. I believe it's actually already implemented, but I'll have to look specifically. I can check this out tonight in more depth.

[2016-10-30 19:38] auser commented on #93
Yes, please submit a PR.

[2016-10-30 19:45] VLNTNA commented on #96
Thank you - would be awesome ! :)

[2016-10-31 02:04] ajonno commented on #44
i am seeing the same error. for me the crash occurs on iOS for this method/callback: firestack.cloudMessaging.listenForReceiveNotification((msg) => ....

on Droid is ok

has there been any progress in resolving ?

[2016-10-31 02:31] chaitanya0bhagvan commented on #96
There is a bug in the code due to which persistence is never enabled. I have created a [pull request](https://github.com/fullstackreact/react-native-firestack/pull/99) for a fix.

[2016-10-31 02:43] auser commented on #82
Yes. I know the fix for this. Apologies about the delay. I've been jet lagged from my trip!

[2016-10-31 07:45] blumanski commented on #44
@ajonno
I use for now https://github.com/evollu/react-native-fcm/issues/177 (only for the cloudMessages) and hope that they may merge, but it doesn't look like it so far, I guess.

Anyway, just in case you need a solution right now.

Otherwise waiting until this is implemented.

[2016-10-31 08:14] #96 closed

[2016-10-31 13:04] bzytan opened #100 "Analytics error on Android"
I managed to get the firebase analytics working for iOS. Great stuff! However on Android, when I call the following

import Firestack from 'react-native-firestack'

componentWillMount() {
	var firestack = new Firestack();
	firestack.analytics.logEventWithName("view_screen", {
	  'screen': 'Now Showing'
	})
	.then(res => console.log('Sent event named view_screen'))
	.catch(err => console.error('Fir

[2016-10-31 15:11] VLNTNA commented on #96
Thank you for the fix - it's now working with one exception:

When starting the app for the first time, it works.
When reloading the app, following error occurs ( after setting database references with `.ref()` ):

<img width="321" alt="screen shot 2016-10-31 at 14 36 28" src="https://cloud.githubusercontent.com/assets/8790113/19855930/6e38d28c-9f77-11e6-834e-6d6465da0007.png">

Debug logs:

![per

[2016-10-31 16:21] chaitanya0bhagvan commented on #96
I also get the same exception on a reload. This is because the JS code
calls database.setPersistence on an existing FirebaseApp that is being
reused. For the time-being click on dismiss and you should be able to go
back to the running app.

On Mon, Oct 31, 2016 at 8:41 PM, Valentina Pegler <notifications@github.com>
wrote:

--
Regards,

Chaitanya Bhagvan

[2016-10-31 17:51] auser commented on #100
Did you run `react-native link react-native-firestack` ?

[2016-10-31 17:52] auser commented on #49
This has been merged :)

[2016-10-31 17:52] #49 closed

[2016-10-31 18:33] chaitanya0bhagvan commented on #96
Created one more PR to fix this exception.

[2016-11-01 13:06] jsappme opened #102 "Android Timestamp Retrieval Issue"
I am using:

"firebase": "3.5.2",
"react-native-firestack": "^2.3.2",

Here is my code:

firebaseApp.database.ref('posts/').once('value')
    .then((snapshot) => {
      console.log(snapshot.val());
    })

iOS returns:

{ puid: '-KVUuw6uVjl-C1YlhTJh',
	     timestamp: 1478004295851,
	     title: 'the first one is not a big ',
	     name: 'Herve',
	     text: 'Bill Clinton and the rest. the first

[2016-11-01 13:30] BlooJeans commented on #102
Perhaps a clue for you:
Sounds like the symptoms of timestamps (which are longs in java) getting cast to ints, but that should have been fixed in https://github.com/fullstackreact/react-native-firestack/pull/79

[2016-11-01 14:22] jsappme commented on #102
if I rename timestamp to another name like time, I have the same issue.

[2016-11-01 15:47] jsappme opened #103 "orderByChild does not seem to work"
firebaseApp.database.ref('posts/').orderByChild('timestamp') does not return ranked result

[2016-11-01 15:59] tegument commented on #103
@jsappme this is a duplicate of #82

[2016-11-01 16:10] jsappme commented on #82
It does not work with iOs either

[2016-11-01 16:40] auser commented on #103
Which platform, @jsappme ?

[2016-11-01 17:24] jsappme commented on #103
it does not work with iOs

[2016-11-01 17:55] auser commented on #103
How are you storing the timestamps?

[2016-11-01 17:56] auser commented on #103
And happy to hop on screenhero to debug.

[2016-11-01 17:58] auser commented on #102
Hm... good question... are you using `npm` or `master` @jsappme ?

[2016-11-01 17:59] jsappme commented on #103
const time = Date.now()
        console.log(time);
        const uid = this.props.currentUser.uid;
        const name = this.props.currentUser.name;

        firebaseApp.database.ref('posts').push().then((res) => {
          let newPostKey = res.key;
          const postData = {
            name: name,
            timestamp: time * -1,
            text: this.state.postText,
            title: this

[2016-11-01 18:04] jsappme commented on #102
not sure what do you mean
I am using yarn with "react-native-firestack": "^2.3.2",

[2016-11-01 18:07] auser commented on #102
Ah, can you pull the latest `master` branch?

`git clone https://github.com/fullstackreact/react-native-firestack node_modules/react-native-firestack`

Or follow the instructions on the README. I haven't updated the `npm` module yet with #79

[2016-11-01 18:12] auser commented on #103
Hm... It's working on [https://github.com/fullstackreact/FirestackApp](https://github.com/fullstackreact/FirestackApp).

Relevant code: [https://github.com/fullstackreact/FirestackApp/blob/master/app/views/Database/Demos/Chat.js](https://github.com/fullstackreact/FirestackApp/blob/master/app/views/Database/Demos/Chat.js)

[2016-11-01 18:16] jsappme commented on #102
I am getting this error:

/Users/herve76/Desktop/react-native-firebase-starter/android/app/src/main/java/me/jsapp/MainApplication.java:30: error: constructor FirestackPackage in class FirestackPackage cannot be applied to given types;
            new FirestackPackage(getApplicationContext())
            ^
  required: no arguments
  found: Context
  reason: actual and formal argument lists differ i

[2016-11-01 18:17] jsappme commented on #103
using wich version of the repo?

npm or master?

[2016-11-01 18:17] auser commented on #103
Oh, `master`

[2016-11-01 18:20] jsappme commented on #103
it's not working on my side

[2016-11-01 18:27] auser commented on #103
Do you have screenhero? Want a second pair of eyes?

[2016-11-01 18:30] jsappme commented on #103
yes I would love to, I am stucked right now

[2016-11-01 18:31] jsappme commented on #103
I dont have screenhero sorry, how can I get it?

[2016-11-01 18:32] auser commented on #103
write me an email at ari [at] fullstack.io and I'll invite you. Fair warning, I'm sick, so it'll be more of a whisper.

[2016-11-01 19:39] #102 closed

[2016-11-01 19:39] #103 closed

[2016-11-01 19:42] #98 closed

[2016-11-01 23:37] eliyazdi opened #105 "Firestack Storage Error: location must not be null or empty"
Hi!

I just started using Firestack today, and everything seems to be working pretty well (database, auth, etc), but I am running into some errors when using storage. I implemented something similar to the example given in the README with react-native-camera. Here is my code:
![screen shot 2016-11-01 at 19 30 01](https://cloud.githubusercontent.com/assets/1785818/19911450/ff44c82e-a069-11e6-998c-c

[2016-11-02 14:25] eliyazdi commented on #105
As it turns out, I was just forgetting to set the storage bucket.

Thanks, this module works really well :)

[2016-11-02 14:25] #105 closed

[2016-11-04 11:16] Ehesp opened #108 "If user is disabled, the app will not start"
At the very start of my app, I've got a check to see whether the user has already authenticated:

[code]

This works, however if I disable the user on the Firebase dashboard the app just crashes on boot. The Android logs show:

[code]

[2016-11-04 21:26] auser commented on #108
I'm going to push a fix for this on a branch. Can you test it out locally?

[2016-11-04 21:27] auser commented on #108
Just pushed this branch: https://github.com/fullstackreact/react-native-firestack/tree/fix/authAndroid

[2016-11-04 23:44] Sh3rawi opened #110 "Could not invoke FirestackAnalytics.logEventWithName"
Hello,
On Android 4.2.2 (and 4.2.1, 4.1.2 as well), whenever you use firestack.analytics.logEventWithName the app crashes with this stack trace:
[code]

As getBinder was added in API 18 (our minSdkVersion is 16). Any specific reason for using getBinder instead of getBundle ?

[2016-11-05 23:43] auser commented on #110
Does it work if you change it to `getBundle()`? I don't recall specifically _why_ I used `getBinder()`, TBH

[2016-11-06 09:33] Sh3rawi commented on #110
Yup it works just fine

[2016-11-06 09:51] Sh3rawi commented on #110
Here is a PR to fix it: #111

[2016-11-06 11:52] Ehesp commented on #78
Also looking for this feature :)

[2016-11-06 11:53] Ehesp commented on #108
Will get this tested tonight or tomorrow, cheers

[2016-11-06 14:59] Ehesp opened #112 "Check if ios directory exists before linking"
I removed my `ios` directory, however when running the link command it fails with the error:

[code]

Looks like it should be checking if it exists or not in the cocoapods file, but doesn't seem to work.

[2016-11-06 15:17] Ehesp commented on #108
@auser there's some issues with it which I've fixed in the above PR.

[2016-11-06 15:59] Ehesp commented on #108
Still not allowing the app to boot, logs stay the same.

[2016-11-06 17:13] auser commented on #78
Alright. I'll prioritize this. Shouldn't be too difficult to implement, I don't think.

[2016-11-06 17:20] #110 closed

[2016-11-06 17:48] auser commented on #108
@Ehesp with `adb logcat`?

[2016-11-06 18:23] Ehesp commented on #108
@auser:
[code]

[2016-11-06 19:18] auser commented on #108
@Ehesp is this project open-sourced? Can I run it locally?

[2016-11-07 04:55] ghuh opened #114 "[v3] sendEmailVerification is not supported"
When a new email/password user is created, in order to verify their email, need to send a verification email.  Firebase has built in support for this which needs to be exposed in firestack.

Android: https://firebase.google.com/docs/auth/android/manage-users#send_a_user_a_verification_email

iOS: https://firebase.google.com/docs/auth/ios/manage-users#send_a_user_a_verification_email

Web: https://

[2016-11-07 06:40] ajonno opened #115 "Firebase Remote Configuration"
It's listed in the README as being available, however I noticed in Firestack.m that the entire code block for remote config is commented out. What was the reason for removing / when do you think it will be made available via Firestack ?

[2016-11-07 09:51] auser commented on #115
We removed it a bit for the refactoring we did a few weeks ago... it's reasonable to add it back in. Have experience with it and a few cycles to implement it back in?

[2016-11-07 16:17] ghuh opened #116 "Auth getToken is not refreshing expired token on iOS"
Calling getToken should refresh expired tokens on iOS but it keeps returning the same expired token.  I have not tried it yet on Android so I don't know if this is iOS only.

[2016-11-07 19:20] auser commented on #116
Thanks for the report. Is this with the `npm` module or master branch?

[2016-11-07 20:00] ghuh commented on #116
This is v2.3.3 from npm.

[2016-11-07 22:44] davecoates commented on #86
This may help as a reference mapping to the error code strings used in the web API:

https://github.com/davecoates/rn-firebase-bridge/blob/master/ios/FirebaseBridgeAuth.swift

Unfortunately Android doesn't seem to use the full list of error codes so you are limited to a subset of those

[2016-11-07 23:23] ajonno commented on #115
ok no worries. ive not used Remote Config api yet this was first foray. am on a RN client project at mom (using Firestack!) not sure if ive got the bandwidth just now but if i can i'm happy to help (ill ping u if so)

[2016-11-08 03:22] ghuh commented on #116
This appears to be working correctly on Android.

[2016-11-08 05:04] auser commented on #116
I think I know the issue. I'll look at it shortly though. Can you make a demo screen in FirestackApp?
I'll update the readme on how to handle it, if so. They basically are just view screens

Get Outlook for iOS

On Mon, Nov 7, 2016 at 7:22 PM -0800, "ghuh" <notifications@github.com> wrote:

This appears to be working correctly on Android.

—
You are receiving this because you commented.
Reply to t

[2016-11-08 06:08] ghuh commented on #116
Note that I deleted the comment about it working in Android because my test was invalid. I retested and confirmed that it is broken on Android as well.

[2016-11-08 09:37] Ehesp opened #118 "[v3] Auth Module: Bring methods in-line & add missing methods"
Currently working through the auth docs on my own fork, there's some differences between the Firestack methods vs the JS method names.  I believe it should mimic the Firebase API as close as possible, since most users will reference their docs on how to do certain things, it'd make it easy to come straight to the same method here.

Also some methods are missing:

### Differences:
- [x] listenForAu

[2016-11-08 09:38] Ehesp commented on #93
https://github.com/fullstackreact/react-native-firestack/issues/118

[2016-11-08 17:41] auser commented on #93
Tracking on #118

[2016-11-08 17:41] #93 closed

[2016-11-08 17:57] auser commented on #118
At this point, I think we need to create a `deprecated` helper that logs out deprecated warnings about using these methods and rename the methods to match their firebase js counterparts. Want to take a crack at that?

[2016-11-08 17:58] auser commented on #116
Interesting... can you share how you're testing it so we're working off the same baseline?

[2016-11-08 17:59] #100 closed

[2016-11-08 18:01] Ehesp commented on #118
Sure, would a `console.warn` suffice?

[2016-11-08 18:37] ghuh commented on #116
I'm testing using code baked into a much larger app that will take some time to split out.  Are you not seeing the same results?

[2016-11-08 20:58] auser commented on #112
Combining with #74

[2016-11-08 20:58] #112 closed

[2016-11-08 21:22] Ehesp opened #120 "Debugging in Chrome waits until the window is active before loading"
If you're debugging an app (via Chrome debugger) with Firestack initialized, the start up process of the app will hang until the Chrome debugger is active. Once it is active, the logs come through and the app successfully boots.

[2016-11-08 23:08] auser commented on #116
No, I haven't seen this myself. If you have screenhero, I'm glad to hop on and help debug, if you can't share it.

[2016-11-09 10:21] murej opened #121 "Queries with equalTo() return null"
Hey,

The following code returns `null`, however I do get a correct response using Firebase Web API.
[code]

Any ideas? Thanks for all the effort, much appreciation here

[2016-11-09 10:59] pedro-ribeiro commented on #121
I believe I'm getting this too.

[2016-11-09 14:55] pedro-ribeiro commented on #121
I believe I fixed it. Please review PR #122

[2016-11-09 15:04] murej commented on #121
Wow awesome, thanks for working on it!

Tried it, and I do get this error:
![image](https://cloud.githubusercontent.com/assets/4493568/20142652/f6c5cd6a-a695-11e6-89f2-93f364f7b3fc.png)

[2016-11-09 15:07] pedro-ribeiro commented on #121
I created the PR against the HEAD of master, but I didn't test it there. Maybe there's another issue. I'll have to investigate.

[2016-11-09 18:13] auser commented on #121
Yeah, the `:` at the end is causing the problem, I think. We currently split on the `:`, so having that at the end would cause that error. I suppose we'll need to split on the first one and join the rest of the string together?

[2016-11-09 18:22] pedro-ribeiro commented on #121
Not completely sure I understood what you proposed since I'm not familiar with the ios code, but what about changing the [equalTo](https://github.com/fullstackreact/react-native-firestack/blob/master/lib/modules/database.js#L313) code to conditionally pass the `key` variable?

[code]

I guess that way it wouldn't have the trailing ':' due to having an `undefined` entry in the filters array.

[2016-11-09 18:28] auser commented on #121
Well, it shouldn't actually have a trailing `:` in the key on iOS anyway... maybe it does in java, just not sure off-hand. Will have to check it...

[2016-11-09 19:39] auser commented on #118
Yep, definitely would.

[2016-11-09 21:25] ghuh commented on #116
I haven't had a chance to debug this yet.  Hopefully I can tackle that this evening.  I'll let you know if I'm having any issues.

If you have an idea of what might be the issue to point me in the right direction before I get started, let me know.

[2016-11-10 01:35] sammy6464 commented on #86
Great thanks Dave!

[2016-11-10 06:51] ghuh commented on #116
Well this turned out to be user error.  getToken is refreshing the token.

It is worth noting that the behavior of iOS and Android are different.  iOS will only refresh the token if it is expired and Android will force refresh every time.  Both platforms ignore the force refresh boolean from the JS documentation.

[2016-11-10 06:51] #116 closed

[2016-11-11 09:19] funkysoul opened #125 "snapshot.forEach()"
I'm not sure if this has been documented somewhere but I'm trying to get iterate through the snapshot children, according to the firebase documentation I would just need to forEach the resulting snapshot.

`itemsRef.once('value').then(function(snap){
          snap.forEach(function(childSnapshot){
            items.push({
              lastName: childSnapshot.val().last_name,
              firstNa

[2016-11-11 09:33] auser commented on #125
It has been implemented on the `master` branch. It is not yet in the `npm` module.

[2016-11-11 09:33] #125 closed

[2016-11-11 09:54] funkysoul commented on #125
Thanks for your quick reply Ari, much appreciated, I've switched to the master branch, had to install bows and es6-symbol packages, installing those packages breaks my application completely.

[2016-11-11 21:39] SunnyGurnani opened #127 "FirestackRefreshToken is not supported"
![image](https://cloud.githubusercontent.com/assets/943576/20231097/4e9eda48-a814-11e6-9c11-824e6c2cf7e2.png)

[2016-11-11 21:52] SunnyGurnani opened #128 "Android Build giving Exception"
Unknown source file : UNEXPECTED TOP-LEVEL EXCEPTION:
Unknown source file : com.android.dex.DexException: Multiple dex files define Lcom/google/android/gms/internal/zzans;
Unknown source file : 	at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
Unknown source file : 	at com.android.dx.merge.DexMerger.getSortedTypes(DexMerger.java:554)
Unknown source file : 	at com.android.dx.

[2016-11-11 22:46] auser commented on #128
Looks like you're including the same dependency multiple times. Are you using `react-native-fcm` or another firebase library?

[2016-11-11 22:47] auser commented on #127
Yes, the cloud messaging api is not quite done yet, still working on it

[2016-11-12 01:07] SunnyGurnani commented on #128
I was able to fix this by matching other firebase versions in my build.gradle

[2016-11-12 01:07] #128 closed

[2016-11-12 12:10] Ehesp opened #129 "Documentation overhaul"
Currently the docs are quite hard to navigate, and the README is quite overwhelming imo. I've started breaking the docs out here:

https://github.com/Ehesp/react-native-firestack

I'll work it in-line with the changes @Salakar is working on (https://github.com/fullstackreact/react-native-firestack/issues/118), starting with Authentication.

[2016-11-12 20:13] chaitanya0bhagvan commented on #82
@auser I too encountered this issue and after debugging I found that the orderByChild is passed to firebase and the response is indeed sorted on the key specified. The order is getting lost in `FirestackUtils.castSnapshotValue` Seems like `WritableMap` does not maintain the order of insertion.

[2016-11-12 20:23] andfs opened #130 "Google Signin"
I'm not able to signin via Google. I have the accessToken and idToken but when I send to firestack I get an error saying that there are no user:

`firestack.signInWithProvider('google', user.idToken, user.accessToken).then((user)=>{
              console.log(user)
            }).catch((error)=> {
	         console.log(error)
	   });`

result: No user logged in

How may I proceed??

[2016-11-13 02:32] auser commented on #82
Oh yes. I added a map and for each function on snapshot to retain the order

Get Outlook for iOS

On Sat, Nov 12, 2016 at 12:13 PM -0800, "Chaitanya Bhagvan" <notifications@github.com> wrote:

@auser I too encountered this issue and after debugging I found that the orderByChild is passed to firebase and the response is indeed sorted on the key specified. The order is getting lost in FirestackUtils

[2016-11-13 07:21] chaitanya0bhagvan commented on #130
Before calling `firestack,signInWithProvider` call `firestack.lisenForAuth`. And call to sigInWithProvider should be like this `firestack.signInWithProvider('google', user.idToken)`. Once authentication is complete callback inside `firestack.listenForAuth` will be called with the user.

[2016-11-13 07:23] chaitanya0bhagvan commented on #82
@auser I am not sure I understand what you mean.

[2016-11-13 12:37] andfs commented on #130
@chaitanya0bhagvan thanks for the response, but it didn't work for me. I'm trying this in the ios simulator. I'll put my code here:
`GoogleSignin.signIn()
      .then((user) => {
        console.log(user);
        const firestack = new Firestack({debug: true});
        firestack.auth.listenForAuth((evt)=> {
			  if (!evt.authenticated) {
			    	console.log(evt.error)
			  } else {
			    console.

[2016-11-13 13:23] chaitanya0bhagvan commented on #130
@andfs ListenForAuth should be called someplace where you respond to global events. Also check whether you get idToken from google sign in. Sometimes it is null depending on the configuration.

`
const firestack = new Firestack({debug: true});
firestack.auth.listenForAuth((evt)=> {
	if (!evt.authenticated) { console.log(evt.error) }
	else { console.log('User details', evt.user); this.setState({use

[2016-11-13 13:30] chaitanya0bhagvan commented on #82
@auser I got what you were saying. But the problem is not in the iteration, it's in WritableMap. When new key/values are pushed it does not maintain the insert order. The solution I can think of is to use a JSON Writer to construct the response.

[2016-11-13 16:25] auser commented on #82
It's not about iterating. The way forEach and map work is by using the ordered keys in response. The response, if contains keys returns with objects with keys, the native side returns the list of keys as an ordered array. 
In JS, we have those iterables to handle the looping in order. Feel free to check the implementation for more details. 

On Sun, Nov 13, 2016 at 5:30 AM -0800, "Chaitanya Bhagva

[2016-11-13 16:48] auser commented on #82
By the way, this is the same approach as the web library takes to handle ordering.

[2016-11-13 16:48] #82 closed

[2016-11-13 21:11] ghuh opened #131 "Installing react-native-firestack prevents local notifications from react-native-fcm to work on iOS"
Both react-native-firestack and react-native-fcm use `@implementation RCTConvert (UILocalNotification)` but they expect different arguments.  This means that if you are using react-native-fcm and then install react-native-firestack, any existing local notification code stops working.

The solution was to comment out the following code in node_modules/react-native-firestack/ios/Firestack/FirestackC

[2016-11-13 21:15] ghuh commented on #131
I opened the same issue on react-native-fcm because I'm not sure really which side the problem should be solved on.

https://github.com/evollu/react-native-fcm/issues/191

[2016-11-13 23:15] andfs commented on #130
@chaitanya0bhagvan I didn't have success :(

Do you have some example to help me???
Here is my code at the momment that I'm testing some solutions:
https://gist.github.com/andfs/8a5f8c65d21561754b1a6459d7e0ad45

Thanks in advice

[2016-11-14 04:41] chaitanya0bhagvan commented on #130
@andfs I used your gist and removed all unrelated code and It just works for me. Take a look at this [GoogleLogin](https://gist.github.com/chaitanya0bhagvan/4439f225d958fbad423349e72ef570da)
. Do add your IOS-ClientID and Web-ClientId

[2016-11-14 07:34] chaitanya0bhagvan commented on #82
@auser If I understand correctly then you are saying the response is an ordered array, but the snapshot.value or snapshot.val() is an object and does not have map or forEach methods on it.

[2016-11-14 07:46] chaitanya0bhagvan commented on #82
@auser This happening only on android. iOS works just fine.

[2016-11-14 10:56] andfs commented on #130
Oh crap. I don´t know whats happening. Could it be a domain problem in the Firebase configuration (I added my ios bundle_id there too)? This same code always return "no user logged in" for me.

Thanks for the help @chaitanya0bhagvan

[2016-11-14 11:14] chaitanya0bhagvan commented on #130
@andfs I updated the console statements in this [Gist](https://gist.github.com/chaitanya0bhagvan/4439f225d958fbad423349e72ef570da). Could you take a screen shot of the console log ?

[2016-11-14 15:36] murej commented on #121
Anything I could help with here? Happy to get this forward. Thanks for the effort guys!

[2016-11-14 16:20] auser commented on #131
We can remove that from Firestack to get it to work for you here.

[2016-11-14 16:20] #131 closed

[2016-11-14 16:24] auser commented on #130
Please use the `firestack.auth` syntax (https://gist.github.com/auser/87e6a25da0b25c465dd0db097b8864ca#file-firebase_google_login-js-L108)

Sounds like a Firebase configuration issue.

[2016-11-14 16:24] #130 closed

[2016-11-14 16:25] auser commented on #129
This is great! Let me know when I can pull and check out a PR.

[2016-11-14 17:54] auser commented on #82
Not sure how it could... also I was talking about the master branch,  not npm. Js objects do not respect ordering on keys, so if it is working, it by happenstance.

[2016-11-14 17:55] auser commented on #82
Technically how we handle it is through storing the ordered list of keys and mapping through the array of keys in the forEach and map methods on the snapshot

[2016-11-14 21:31] andfs commented on #130
@chaitanya0bhagvan @auser thanks for help me. It works \o/

[2016-11-15 11:09] Ehesp opened #134 "[Android] Don't hard set play services version"
Hello,

Bear in mind, I'm not to clued up to Android yet...

I keep running into the same issue whereby my build fails due to "Multiple dex files". The cause of this is conflicting play-services versions across multiple libs. This library hard sets the dep to [9.8.0](https://github.com/fullstackreact/react-native-firestack/blob/master/android/build.gradle#L23).

Other libs seem to only set it to "

[2016-11-15 20:43] auser commented on #134
That should be fine. Make a PR when you get a chance. I think that sounds like a great idea.

[2016-11-15 22:13] blumanski opened #135 "Firebase Crash Report"
I get this error a few times in the firebase crash reporting.
The app runs on a new google pixel using
- react-native 0.37.0
- and the newest npm version of firestack
- react-native-facebook-login

**Exception android.os.NetworkOnMainThreadException:**

    android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork (StrictMode.java:1303)
    java.net.SocketOutputStream.socketWrite (SocketOutputStream

[2016-11-16 02:06] mark2685 commented on #78
Also looking for this feature. Any update on this?

[2016-11-16 02:09] auser commented on #135
Yes, that's an issue with the JS Debugger... if you turn off remote debugging, that shouldn't happen. Can you verify that by turning off the remote debugger, @blumanski ?

[2016-11-16 06:18] blumanski commented on #135
@auser
Yes, all good, thanks

[2016-11-16 06:18] #135 closed

[2016-11-16 13:03] murej commented on #121
Hey auser (& other contributors),
this issue is fairly crucial for the project I'm working on with my team, so we're thinking of putting a bounty on it. We have the backing for it and would be happy to push the project this way. Any objections?

[2016-11-16 18:27] pedro-ribeiro commented on #121
@murej, can you give #137 a try?

[2016-11-16 18:43] auser commented on #134
Actually, what do you think about doing this for _all_ Firestack dependencies?

[2016-11-16 20:03] Jeanmsilva89 commented on #83
I followed the setup guide on a new project with RN @0.37.0 and I'm still seeing this issue. I also tried it on my current project that has RN 0.34.0 and had the same issue. I know this is closed but does anyone know the cause of this issue so I can try to figure out how to solve it?

[2016-11-16 20:16] auser commented on #83
Yes, it means it can't find react-native. Meaning either the `react-native link` didn't work or the path to `react-native` didn't update in Firestack. Did you run `react-native link`?

[2016-11-16 20:17] Jeanmsilva89 commented on #83
I did use react native link

[2016-11-16 20:19] auser commented on #83
Feel free to hop in the gittir channel for real-time chat. You can check it by looking at the `header search paths` in the fire stack project. Can you show me those dirs?

[code]

[2016-11-16 20:25] Jeanmsilva89 commented on #83
Cool I'll have to check that later tonight when I get home.. and I joined the gitter, will reach out to you later if I still need help.. Thanks :)

[2016-11-16 21:00] Ehesp commented on #134
I supposed the only issue is if the lib isn't kept up to date with say the latest firebase SDK, then users are going to have weird issues.

[2016-11-17 02:19] auser commented on #134
Good point. I agree.

[2016-11-17 04:40] trajedy opened #138 "iOS uploadFile returns 'Unknown error'"
I'm working on an iOS project with Firestack and have run into an issue whilst trying to upload a file to Firebase Storage.

I have everything setup correctly regarding Firebase and Storage, I have even made my storage permissions completely open as to rule that out as the possible culprit.

[code]

[2016-11-17 08:45] auser commented on #138
The `FIRStorageErrorCodeUnknown` is what is being returned. Are you using the `npm` or the github version?

[2016-11-17 09:38] trajedy commented on #138
I am using yarn/npm, correct that is the error that is being thrown.

The events which occur are

upload_resumed
upload_progress: 0
upload_progress: 0

Then the 'Unknown error' is thrown. There was an error is my previous code

[code]

But the error still persists

[2016-11-17 09:39] auser commented on #138
With the same output?

[2016-11-17 09:41] trajedy commented on #138
Yes, I tried debugging the iOS code for FirestackStorage.m but C is a little bit beyond me, wanted to see if there was any more context for the error within snapshot.error, but could not work out how to return that with js event.

[2016-11-17 09:43] auser commented on #138
Well, just try logging it to the console with to see if this reveals anything new:

[code]

[2016-11-17 09:45] thesabbir opened #140 "createUserWithEmail does not work at all on andorid."
`firestack.auth.createUserWithEmail` does not work at all on android.
Working fine with iOS.

[2016-11-17 09:46] thesabbir commented on #140
#63 might be on android too.

[2016-11-17 09:49] trajedy commented on #138
Ok, I think I'm getting closer, during development I have been deleting user accounts as they are created, the extra context from snapshot.error is suggesting that I'm still interacting with Firebase using an account which no longer exists, even though my storage permissions are set to allow anybody to access that bucket.

[code]

[2016-11-17 09:50] auser commented on #138
Read or write or both?

[2016-11-17 09:50] trajedy commented on #138
Both

[2016-11-17 09:51] trajedy commented on #138
I will try authenticating with a user account that exists and let you know if the issue persists.

[2016-11-17 09:51] auser commented on #138
Okay!

[2016-11-17 09:57] trajedy commented on #138
It works! Gah! Can't believe I wasted those hours on such a petty issue. Thank you for your time!

[2016-11-17 10:03] auser commented on #138
Np. :) Glad you got it sorted.

[2016-11-17 10:03] #138 closed

[2016-11-17 11:13] auser commented on #140
There is work on a new branch by @Salakar that will replace the current auth version work. Hopefully we'll have the new stuff merged in soon/this weekend.

[2016-11-17 11:37] Salakar commented on #140
@thesabbir feel free to give my branch a go - just remember it's now in line with the firebase web api, so your code above becomes:

`firestack.auth().createUserWithEmailAndPassword(email, password).then().catch()`

And you can get the current user the same way as the web api:

[code]

[2016-11-17 11:40] Yarikx opened #141 "Storage "upload" method do not save metadata on Android"
Metadata is not propagated to native code.

https://github.com/fullstackreact/react-native-firestack/blob/master/android/src/main/java/io/fullstack/firestack/FirestackStorage.java#L157
Metadata map is destructured but never used.

[2016-11-17 11:51] Salakar commented on #141
@Yarikx will sort on my branch (which is going to be merged for v3)

[2016-11-17 11:52] Yarikx commented on #141
@Salakar Cool!

[2016-11-17 12:01] Salakar commented on #141
Done, on my branch.

[2016-11-17 12:55] florianbepunkt commented on #81
I experience the same issue. Can you pleae tell me how you solved it?

[2016-11-17 13:12] florianbepunkt opened #142 "Please specify a valid Google App ID"
Following your installation instructions I get the following error when trying to run iOS simulator:

[code]

[2016-11-17 13:30] pedro-ribeiro commented on #121
@auser, from what I've seen you have merged both #136 and #137. They do the same thing. imho, one of them should be reverted.

[2016-11-17 14:28] thesabbir commented on #140
No luck.

Installation:
[code]
My Code:
[code]

Verbose console output:
[code]

works fine on iOS though :(

[2016-11-17 14:42] Salakar commented on #140
@thesabbir can you try the below, added comments - appears to be working here, not sure what part isn't working?

[code]

[2016-11-17 15:02] auser commented on #142
Have you included the googleinfo.plist, like it says in the readme?

[2016-11-17 15:13] thesabbir commented on #140
`console.log(firestack.auth().currentUser);` was only there to see initial value.

I tried running your code.
Good news is it works fine on my 6.0.1 device.
But doesn't work on 6.0.0 genymotion, which is odd 😕

[2016-11-17 15:13] florianbepunkt commented on #142
Yes, I have my GoogleService-Info.plist under /ios directory.

[2016-11-17 15:24] Salakar commented on #140
I assume genymotion doesn't have play services? Firebase needs google play services integration to work

[2016-11-17 15:24] tegument commented on #69
res.url exists on android
res.url does not exist on ios

[2016-11-17 15:26] tegument commented on #140
yes you need to install google play services on genymotion virtual device:
https://github.com/codepath/android_guides/wiki/Genymotion-2.0-Emulators-with-Google-Play-support

[2016-11-17 15:34] auser commented on #141
Looking forward to merge this -- working on tests

[2016-11-17 15:46] florianbepunkt commented on #142
Okay, doing a fresh install, I see there are several issues… I'm not sure if read the instructions right, but I think they are maybe outdated (?)

Here's what i'm doing

[code]

this already produces an error IMHO: it says there are 0 pods installed since pod file has 0 dependencies

I then add the googleinfo.plist to ios folder

when I hit `react-native run-ios` the build fails
[code]

[2016-11-17 19:44] auser commented on #142
You need to add the `GoogleInfo.plist` in Xcode, not just in the folder.

[2016-11-17 20:00] florianbepunkt commented on #142
Okay. Sorry, I'm a novice when it comes to this… coming from a Ionic background. Can you tell me how to do this or point me in a direction where to find out? Thank you

[2016-11-17 20:14] auser commented on #142
Just drag it into Xcode and make sure its a target of your app.

[2016-11-18 01:19] #142 closed

[2016-11-18 01:21] auser commented on #115
We worked on this today @Jeanmsilva89 and I, that is. I'm expecting a PR with this feature this evening.

[2016-11-18 02:42] Jeanmsilva89 commented on #115
@auser Submited the PR for both repos. Thanks a lot for your time today! Have a great one!

[2016-11-18 12:11] Salakar commented on #114
@ghuh this is implemented on my branch now (the soon to be v3) and you can also now access the current users email verification status by doing:

[code]

Feel free to give it ago - we'll be merging this in soon hopefully.

[2016-11-18 14:20] tegument commented on #69
I submitted a PR for this:
https://github.com/fullstackreact/react-native-firestack/pull/148

[2016-11-18 14:26] auser commented on #69
Awesome. Will take a look shortly

[2016-11-18 15:26] ghuh commented on #114
Thanks!  I'll take a look.

[2016-11-19 12:49] Ehesp commented on #129
Now being worked on in v3 branch.

[2016-11-19 12:49] #129 closed

[2016-11-19 14:25] Salakar commented on #141
Closing as fixed on v3 branch.

[2016-11-19 14:25] #141 closed

[2016-11-19 14:28] Salakar commented on #140
Closing as fixed on v3 branch. Side note, I'm adding in a play services check into the android code, should at least warn now if no play services.

[2016-11-19 14:28] #140 closed

[2016-11-19 14:28] Salakar commented on #134
Closing as fixed on v3 branch.

[2016-11-19 14:28] #134 closed

[2016-11-19 14:32] Salakar commented on #114
Closing as fixed on v3 branch.

[2016-11-19 14:32] #114 closed

[2016-11-19 14:35] Salakar commented on #108
Closing as fixed on v3 branch.

[2016-11-19 14:35] #108 closed

[2016-11-19 14:39] Salakar commented on #90
This will sorted on v3 branch and can be accessed vua `firestack.auth().currentUser.providerData` as per the web api. The js code is done, just needs native side implementing

[2016-11-19 14:50] Salakar commented on #86
This is something @Ehesp and I want to sort on v3, we've already standardised a lit of the auth module to match the web api and can be seen on my fork or the v3 branch.

The plan is move these into the same format as web api, e.g. returning an error code of `auth/disabled-user`

[2016-11-19 15:40] #118 closed

[2016-11-19 22:21] wontwon opened #149 "Missing Firestack Module Documentation"
Hi -- I've been trying to implement firestack into my react-native app with redux, but following along the tutorial [here ](https://www.fullstackreact.com/articles/announcing-firestack-for-firebase/) has been a challenge -- Possibly because there have been updates made recently?

I'm looking forward to when you release more on how to use the module. Thank you.

[2016-11-20 01:52] Salakar commented on #149
@wontwon sorry about this, we're in the middle of standardising the library to match the web api.

Check out the v3 branch/my fork, its the latest and is worked on frequently - there are some docs (auth module being the most documented there at the moment). The idea is you should be able to follow the official google firebase web api documents with only a few minor differences.

[2016-11-20 01:56] Salakar commented on #149
I posted a rough usage example of auth here: https://github.com/fullstackreact/react-native-firestack/issues/140 (my 2nd comment)

[2016-11-20 08:24] wontwon commented on #149
@Salakar - Thanks for the quick response. I've been enjoying the firestack library so far and have figured out how to use firestackmodule. My only major question:  Is there any way to pass params to the query event? Example: I'd like to query all posts by user "123", which I would normally use .equal on a firebase ref.

Appreciate the help @Salakar :)

[2016-11-20 19:36] kyle-ssg opened #150 "Android storage on v3 branch"
Hey @Salakar , this may be linked to the conversation in https://github.com/fullstackreact/react-native-firestack/pull/109 however I didn't want to hijack the thread in case it wasn't.

Thanks for for all the work put in - everything so far is working fantastic except android storage. I gave this a go on the v3 branch - database worked without any changes however storage seems to throw an exceptio

[2016-11-20 20:09] kennedc opened #151 "Storage folder has trailing /"
I'm using this for uploading files to firebase my code looks like this:

[code]

But in Firebase the folder has a trailing /, and i can't delete the files using firebase web sdk

my userid looks like this 1234567

but the folder is 1234567/

[2016-11-20 20:49] kyle-ssg commented on #150
Can confirm that this issue was due to google play services not being installed on genymotion. The above code works fine once this is installed. Thanks again

[2016-11-20 20:49] #150 closed

[2016-11-20 21:07] Ehesp commented on #150
I believe some checks are going to go in at some point to check for required services being installed.

[2016-11-20 21:37] Salakar commented on #150
@Ehesp @kyle-ssg yep I've done some work to detect and alert if play services is missing - will push this up Monday =]

[2016-11-20 21:49] kyle-ssg commented on #150
Great stuff! Will be keeping an eye out for when v3 gets merged :)

[2016-11-20 23:03] florianbepunkt commented on #142
Sorry for the late reply. Got it working now. Read up a bit more on native development to get a basic understanding of thing. thanks for your help and for the effort you put in this library. I appreciate it.

[2016-11-21 14:01] florianbepunkt opened #153 "persisting auth state in salakar's branch - refresh necessary to get correct auth state"
With Salakar's fork I noticed following behaviour which might be a bug or something intentional:

I have a fresh react-native project on iOS (simulator). in my index.ios I have a login function and an auth state listener (see below).

Login works fine and auth state listener triggers. When I now exit the app in simulator and reopen it again user is not loggedin (state.user is null). However when I

[2016-11-21 14:09] Salakar commented on #153
@chrisbianca this is why i was calling `getUser` in the auth constructor ;p think we'll need to add that logic back in, otherwise the user isn't there on boot.

[2016-11-21 14:12] florianbepunkt commented on #153
@Salakar What was the reason why it was removed? If you point me to the file I can try iny my project if this fixes it. Thank you.

[2016-11-21 14:14] Salakar commented on #153
@florianbepunkt this was the commit that changed it: https://github.com/Salakar/react-native-firestack/commit/91ace7a974b9ea2147e595647d111db4db8dd5e9#diff-2e22bff7808c41e1f24596e25ab3bfb9 - if you could change auth.js back on your local node modules version and let me know if that fixes it?

[2016-11-21 14:15] chrisbianca commented on #153
@florianbepunkt the reason I removed it is that it means two auth requests are sent unnecessarily.  Could you try moving your auth listener to componentWillMount and see if this fixes it?

[2016-11-21 14:21] chrisbianca commented on #153
@florianbepunkt I've just double checked on my iOS build and I am not seeing this problem.  The only difference between your code and mine is that I start listening in the componentWillMount method rather than componentDidMount.

[2016-11-21 14:23] Ehesp commented on #153
@florianbepunkt what's in your constructor/componentWillMount()?

[2016-11-21 14:27] Salakar commented on #153
@florianbepunkt if doing it in willMount works then I'd say go for that, we should probably update the example in auth then =]

[2016-11-21 14:28] Ehesp commented on #153
Try like so:

[code]

[2016-11-21 14:40] Salakar commented on #151
@kennedc could you try this with the v3 branch?

Just keep in mind v3 is now aimed at matching the web api - so your code there becomes:

[code]

Let me know if the issue is still there and i'll take a look

[2016-11-21 14:43] Salakar commented on #149
@wontwon could you try `.equalTo` - `equalTo(value: any, key?: string): Reference`

[2016-11-21 14:46] kennedc commented on #151
What do you mean - i'm using version 3.10.9?

[2016-11-21 14:48] Ehesp commented on #151
The firestack v3 branch: https://github.com/fullstackreact/react-native-firestack/tree/v3

[2016-11-21 14:48] florianbepunkt commented on #153
First of all, thank you all for your help.

Using **componentWillMount()**
putting the state listener in componentWillMount() does not work. If I (completely) exit the app and start it again, I'm not logged in until I refresh (command + r). My testfile is here:

http://pastebin.com/Upt99qkw

@Salakar I added the following back in constructor of auth.js in firestack lib but to avail, same behaviour

[2016-11-21 15:13] chrisbianca commented on #153
Ok, so one thing I am doing which may hide this in my app is that I display an "initialising" screen until I receive my first response from Firestack/Firebase.  Essentially, until I receive an event in onAuthStateChanged, the user is in an unknown state;

There's invariably some initialisation time in the native code whilst it validates the saved token, so this needs to be taken into account.

Try

[2016-11-21 15:24] Salakar commented on #153
@chrisbianca not sure if this is a stupid idea but could we not just ignore the first auth event and never send to user's listeners? The first event is always going to be before initialised anyway?

In your example above there's no way to tell if the user is genuinely not signed in at app boot as the auth listener sends null if no authenticated user as per web api?

[2016-11-21 15:27] florianbepunkt commented on #153
@chrisbianca Thanks. I did this, but the underlying problem remmains: Using your approach I still need to do a rfresh after reopening the app...otherwise the "initialising" message will stay on forever. I had to modify your code to get rid of some red death screens..

What I do is: run the app with react-native run-ios, then login. the in simulator i hit the home button twice, swipe the app up to

[2016-11-21 15:30] chrisbianca commented on #153
@florianbepunkt Just noticed there was a typo in my example, the onAuthStateChanged should set initialised to true, regardless of the response.  I have updated my comment above, but for clarity:

[code]

@Salakar the first event isn't sent by the native code until Firebase has initialised, therefore it is the source of truth for whether the user is signed in at application boot.  If you were to ig

[2016-11-21 15:33] chrisbianca commented on #153
@Salakar to follow this up, the Firebase web documentation makes it clear that listening to the authStateChanged event is the recommended way to get the user to ensure that it's not in an intermediary state: https://firebase.google.com/docs/auth/web/manage-users#get_the_currently_signed-in_user

Equally, the same is true for [iOS](https://firebase.google.com/docs/auth/ios/manage-users#get_the_curr

[2016-11-21 15:33] Salakar commented on #153
@florianbepunkt you're right, it's one of those days sorry ;p I clearly need more caffeine

[2016-11-21 15:36] florianbepunkt commented on #153
@chrisbianca Okay, this is weird. I updated my code with your change. Basically I would assume, that initialised would be set to true at some point anyway, right?

But this never happens… If I hit refresh, it wors, but If i exit and reopen the app, initialise stays false forever...

[2016-11-21 15:43] chrisbianca commented on #153
@florianbepunkt just to check, you do definitely have the very latest version of Salakar's fork don't you?

What seems to be happening, is that when launching from scratch, you're missing the very first auth event from the native code.  I had a similar issue at the end of last week and it was simply that the listener was being added in the JS after requesting the auth information.  I updated this

[2016-11-21 15:47] florianbepunkt commented on #153
@chrisbianca I cloned his repo an hour before I opened this issue. I just checked and I can confirm, the constructor looks like yours.

[2016-11-21 15:53] chrisbianca commented on #153
That's strange.  I've just tried again to reproduce this, but I'm having no luck at all!

Are you able to put some break points in:
1) In the iOS code within the listenForAuth method callback (should be line 135)
2) In the JS code within the onAuthStateChanged callback

You're looking to check that firstly the event is received in the listenForAuth method in the native code, and secondly that it m

[2016-11-21 16:02] florianbepunkt commented on #153
the iOS part is beyong my capabilities I'm afraid.

What I did: I added a console.log in `react-native-firestack/lib/modules/auth.js` in `_onAuthStateChanged(auth: AuthResultType) `method as well as in `onAuthStateChanged(listener: Function)`

so code now looks like this…

[code]

what happens on refresh is that both console.logs are printed. when I restart from scratch, only the `onAuthStateChang

[2016-11-21 16:57] florianbepunkt commented on #153
@chrisbianca

okay, i read up on how to set breakpoints in ios. I set the following breakpoint (see screenshot)

when I launch the app, the first breakpoint gets called, the others not. when I refresh in app (command + r), all breakpoints are called.

<img width="1920" alt="bildschirmfoto 2016-11-21 um 17 52 27" src="https://cloud.githubusercontent.com/assets/8314202/20492152/f9886cce-b013-11e6-80

[2016-11-21 17:04] Salakar commented on #153
@chrisbianca @florianbepunkt  maybe this is something to do with react - doesn't react only reload the JS bundle on Cmd + r - the native modules still remain running - so it won't resend the event?

[2016-11-21 17:16] florianbepunkt commented on #153
according to the docs it only reloads javascript (https://facebook.github.io/react-native/docs/debugging.html) . but the auth state listener should return something on app start.

unsure, why this issue seems not reproducable... shall I upload my project with the credentials somewhere private? banging my head against a wall here :/

[2016-11-21 17:26] chrisbianca commented on #153
Have you checked through the iOS logs to see if there are any errors being reported at all?

Also, can you move the second breakpoint up a line so that it's on the `if (user != nil)` line (132) and see whether it's triggered on the restart path?

[2016-11-21 17:51] florianbepunkt commented on #153
Thanks for sticking with me. I moved the second breakpoint. On first launch it never gets called. When I hit Cmd+R all breakpoints are called. When I close the app, the debug process gets detached.

Regarding the logs… in the simulator I used Debug > Open system log. Output is here: http://pastebin.com/FgrsPetn

[2016-11-21 17:57] chrisbianca commented on #153
So there's one line that interests me in the logs:
[code]

Can you try adding the following to the `didFinishLaunchingWithOptions` method in AppDelegate.m:
[code]

You may also need to add this near the top of AppDelegate.m if you haven't got the import already:
[code]

[2016-11-21 18:11] florianbepunkt commented on #153
I modified ./ios/stackTest/AppDelegate.m (hope this is the right one, stackTest is my app name).

the file looks like this now
[code]

#import <Firebase.h> was not set
the logs for this one are here, but the "not configured" line is still there and the issue still persists: http://pastebin.com/KNuvPu9p

I have to leave university now since they close for today, but I'll be back tomorrow. I appreac

[2016-11-22 05:56] braxtondiggs opened #155 "signInWithCredential does not return callback"
I am trying to have the user log in via facebook, I am passing in token data but I am not getting success or failure and firebase is not being updated. I am using latest v3 branch.

[code]

[2016-11-22 07:36] vyshakhparakkat commented on #120
Seeing the same issue with react-native version `0.35.0`

[2016-11-22 10:55] florianbepunkt commented on #83
I had this issue several times myself. I think your installation instructions miss one step. What happens to me, when I do a fresh install is, that react-native link does create a podfile but it does not add the pods to it. So basically it links the library, but it passes with 0 pods installed. I need to do the following steps to make it work with rn 0.37.0. I hope this helps people that come acro

[2016-11-22 11:29] florianbepunkt commented on #153
@Salakar @chrisbianca

Just wanted to follow up on this since I did some more testing this morning. IMO the problem is definitely linked to your fork, Michael. I tried with the original react-native-firestack repo and the problem does not occur. When I download your fork and use it to replace the files in /node_modules/react-native-firestack I see the problem described above.

Here are my steps wi

[2016-11-22 11:35] chrisbianca commented on #153
@florianbepunkt thanks for the detailed instructions, I'll try and work through them and see if I can reproduce the issue.

As an FYI, you can install directly from the fork by using the following:

`npm install --save https://github.com/Salakar/react-native-firestack.git`

[2016-11-22 12:00] chrisbianca commented on #153
Ok, so this is a bit random.  I saw exactly what you've been describing the first time I launched the app on the simulator.

However, I can't for the life of me get it to happen a second time.  Every time I close the app, re-launch it, re-install it, even re-install it to a different simulator, it works perfectly!

[2016-11-22 12:03] florianbepunkt commented on #153
Okay, to add to the odditiy of this problem: Installing it directly from npm like you sugessted made the problem disappaear for me (also when opening app first time in sim)

Can I get you guys a coffee or beer or something? I appreciate all your help on this.

[2016-11-22 12:10] chrisbianca commented on #153
So presumably, by not using npm to install the app, something is being missed out from the setup which causes it to break.
I've just recreated the project from scratch and everything worked first time!
Very strange, but are you happy this is resolved?

Happy to help!!

[2016-11-22 12:13] florianbepunkt commented on #153
Yes, happy this is resolved! Thank you! So this is CLOSED

[2016-11-22 12:13] #153 closed

[2016-11-22 20:34] auser commented on #155
@braxtondiggs Why are you calling `const firestack = Firestack.initializeApp(env.firestack)` instead of `new Firestack({})`?

[2016-11-23 01:24] ajonno commented on #81
im seeing this too. i did notice in my log inside of XCode the following (see below). do we need to set these values explicitly in XCode ?

2016-11-23 12:22:31.687 oauthtest[25641:2881341] GOOGLE_APP_ID: (null)
2016-11-23 12:22:31.687 oauthtest[25641:2881341] BUNDLE_ID: 2016-11-23 12:22:31.687 2016-11-2016-11-23 12:22:31.688 oauthtest[25641:2881341] CLIENT_ID: (null)
2016-11-23 12:22:31.688 oautht

[2016-11-23 01:32] ajonno opened #158 "Please specify a valid Google App ID. (same as #81)"
_i wasnt sure if you see any updates (per the below) on closed items (#81) so am posting this as a new issue._

im seeing this too. i did notice in my log inside of XCode the following (see below). do we need to set these values explicitly in XCode ?

**in XCode**
2016-11-23 12:22:31.687 oauthtest[25641:2881341] GOOGLE_APP_ID: (null)
2016-11-23 12:22:31.687 oauthtest[25641:2881341] BUNDLE_ID: 2016

[2016-11-23 04:42] tretelny commented on #158
Did you add GoogleService-Info.plist to your project?

[2016-11-23 06:24] ajonno commented on #158
aww gees. forest for trees, and all that :-O .   thanks a lot mate that was it

[2016-11-23 06:25] #158 closed

[2016-11-23 06:30] ajonno opened #159 "Google OAuth (via react-native-oauth) -> Firebase"
I need a bit of help with this one. I've implemented react-native-oauth (iOS) for Google auth, and its returning a payload, all is good there.

what I cant work out now is how do i "tie" that into Firebase, so that i can complete things and register/create the user on Firebase ? the response payload from ..-auth0 has 'credentials' and 'access-token' that I can see. can i use that to then authentic

[2016-11-23 09:21] rohitgoyal opened #160 "Is it possible to remove unnecessary dependencies from Podfile?"
Hi
Basically I just want to use the Firebase Analytics which would just require Firebase and Firebase.Core dependencies as far as i know.
I am never gonna use Firebase database/Auth/RemoteConfig for sure. Now these dependencies would be taking unnecessary space in my app.

I tried removing the unnecessary pods and running pod install. But the build is failing after that show errors for FirebaseAut

[2016-11-23 09:38] Salakar commented on #160
@auser @chrisbianca reckon it'd be possible to do this ios side, only load the RN modules we have the SDK's for? As far as I remember it should be doable android wise?

But then it's an extra setup step I guess to add FB SDK's

Thoughts?

[2016-11-23 09:45] Salakar commented on #155
@auser that's correct now, same as web api, old way is also supported.

[2016-11-23 09:52] Salakar commented on #155
@braxtondiggs genymotion emulators don't have Google play services installed by default, which firebase requires. Without it it'll appear to hang.

I am working on some code to show a warning if it's missing, but in the meantime you just need to install play services, there was a link how to in another issue

[2016-11-23 10:06] Salakar commented on #155
https://github.com/codepath/android_guides/wiki/Genymotion-2.0-Emulators-with-Google-Play-support

[2016-11-23 10:40] chrisbianca commented on #160
@Salakar this is probably stretching my knowledge of iOS a little far.

I guess the normal way to resolve this would be to break Firestack into different packages (similar to how Firebase is) but that defeats some of the point of having it nicely centralised.

[2016-11-23 11:03] rohitgoyal commented on #160
@chrisbianca Analytics and Ads would be 2 category that would be used in far greater numbers than the rest of the functionalities of Firebase I guess.

[2016-11-23 16:45] Salakar commented on #155
@braxtondiggs can you pull my fork and try now if possible? If it's missing Play Services it should now show this:

![image](https://cloud.githubusercontent.com/assets/5347038/20570584/239fef8a-b19c-11e6-9c23-ccad2565f3eb.png)

[2016-11-23 16:57] Salakar commented on #153
@florianbepunkt sorry you had problems with this, I should of probably made it clear to install via npm git, glad its sorted now though!

Side note, you may want to switch to the v3 branch on here as opposed to my fork - my fork can break sometimes if me or someone else pushes some potato code to it 🍠  - it's going fast so bound to happen. v3 branch on here is updated from my fork - but only when

[2016-11-23 17:11] florianbepunkt commented on #153
@Salakar I will do that, thanks. Is there a roadmap somewhere for this project? I noticed small things here and there like different syntax from web api with some methods or stuff not working, but was not sure whether this is an issue or a side effect of the project being rehauled to mimic web js api syntax of firebase

[2016-11-23 17:43] Salakar commented on #153
@florianbepunkt it's a bit of both really - feel free to create issues on here and prefix the title with `[v3]`- they'll get picked really quickly and are super helpful for me; or you could also send PR's over to my fork.

Roadmap though - urm not really (yet), however there is this milestone https://github.com/fullstackreact/react-native-firestack/milestone/4 - the main focus (for me at least rig

[2016-11-23 18:01] Salakar commented on #160
@chrisbianca very true, does bloat it however - for example ads is a big one and has a ton of sub modules, rn views etc - deffo think this should be separate if we get round to implementing it, as @rohitgoyal said.

Think the rest then just remain part of `core` I guess? Come to think of it now I don't think there'd be any way to do this within the same repo as you said @chrisbianca. JS side it'd

[2016-11-23 18:14] auser commented on #160
It should be doable on iOS, actually. I can get to implementing that on iOS this weekend.

[2016-11-23 18:18] auser commented on #160
it might also be possible to do it entirely on the JS side and only require modules as they are required through the JS API.

[2016-11-23 18:24] Salakar commented on #160
@auser this will still get compiled by gradle for example though, its the individual firebase SDKs that need to be optional really

[2016-11-23 18:33] auser commented on #160
Mmm good point. We should be able to handle it on iOS. I'll explore a few thoughts tomorrow. I think we can handle it with an #ifdef clause

[2016-11-23 19:26] ajonno commented on #159
Any help is appreciated we're on a bit of a tight deadline with this one

[2016-11-24 15:55] rohitgoyal opened #163 "Custom Events are not getting registered on Android."
Hi
I have successfully integrated Firestack in my react-native project. I am using it to implement Firebase analytics.
The analytics is working perfectly fine in iOS. I am getting all session reports as well as all the custom events are visible in Firebase console.

In Android however I am not getting any custom event reports while the session reports are working in Android as well.
Below is the c

[2016-11-24 21:41] Ehesp commented on #163
Have you tried [this fork](https://github.com/Salakar/react-native-firestack), or the v3 branch?

cc @Salakar

[2016-11-24 22:01] auser commented on #159
@ajonno You should be able to register with the token: https://github.com/fullstackreact/react-native-firestack#signinwithprovider

[2016-11-24 22:17] ajonno commented on #159
i did try that with Facebook and was fine/works.

but Google didnt like the access_token. ill double back to post the error response here shortly

[2016-11-24 22:44] ajonno commented on #159
here is the error:
1. the manager.authorize(..  IS succeeding for Google auth
2 Firestack is throwing the error attached

here is the code block. i suspect im missing a param somewhere?
[code]

![image](https://cloud.githubusercontent.com/assets/3005269/20610821/74f90f44-b2f3-11e6-8575-4a25f7417db4.png)

[2016-11-25 00:12] Salakar commented on #163
`firestack.analytics().logEvent()` on my fork/v3 branch - android was missing on master so probably why its not working for you @rohitgoyal

[2016-11-25 06:36] NoelBroda opened #164 "Add missing `invariant` package"
Looks like `lib/firestackModule.js` file is using `invariant` module, but it's not in the `package.json` file.

I added `react-native-firestack` to my project and I'm getting this issue.

After run `npm install invariant --save` I could fixed it and continue working.

[2016-11-25 08:45] Ehesp commented on #164
Good spot. I thought React Native installed this anyway which should have caught it. Could you make a PR on this side for it?

[2016-11-25 13:37] NoelBroda commented on #164
Sure! I'll check it tonight

[2016-11-25 14:09] florianbepunkt commented on #120
same with RN 0.37.0

[2016-11-26 00:05] NoelBroda commented on #164
I'm adding `"invariant": "^2.2.2"`, and checking another errors.

[2016-11-26 00:06] NoelBroda commented on #164
@Ehesp which is the invariant version that you are using?
And which babel version? Looks like you had it installed globally. I want to add it as local package, in devDependency, so everybody can start working with no problems.

[2016-11-26 00:11] NoelBroda opened #165 "Add ESLint"
Hi all!
I just saw that in the `npm run` commands, we have `eslint`, but it's not working.

Do you have an ESLint file config to add?
Do you want me to add one? I can add one config file, fix LINT issues and add it to the pre-commit hook.

[2016-11-26 00:14] NoelBroda commented on #164
Oh wait... I just realize you are not using a build. So, `npm run build` is odd?

[2016-11-26 01:19] NoelBroda commented on #164
https://github.com/fullstackreact/react-native-firestack/pull/166

[2016-11-26 06:25] rohitgoyal commented on #163
@Ehesp @Salakar
Update: I am using the main repo of [firestack](https://github.com/fullstackreact/react-native-firestack).  Also now I see the events in Firebase console but I still don't get the success log for Android.

[2016-11-26 11:28] ajonno opened #168 "signInWithProvider for Google is not working (using react-native-oauth for cred.)"
I'm using react-native-oauth to authenticate with Google and have it return the payload, which contains an access_token. That is working fine.

I am then using the access_token, to try and authenticate with Firebase, using Firestack.

Here is the call:
[code]

this is the error Firebase is sending back:
[code]

Given that the react-native-oauth callback succeeds and returns me a payload, shouldn't

[2016-11-26 23:13] auser commented on #168
Just for clarification, what platform are you working on?

[2016-11-26 23:19] ajonno commented on #168
this is iOS only

[2016-11-26 23:27] auser commented on #168
I'll check it over here after I finish google auth support in `react-native-oauth` on Android

[2016-11-26 23:27] ajonno commented on #168
txs mate much appreciated

[2016-11-27 05:39] auser commented on #165
Yes, please submit a PR! That would be awesome 👍

[2016-11-27 05:39] #165 closed

[2016-11-27 06:10] auser commented on #168
Okay, I checked it out here. Are you working on the `master` branch?

[2016-11-27 06:11] ajonno commented on #168
Yes I had installed from master branch

From: Ari <notifications@github.com>
Reply-To: fullstackreact/react-native-firestack <reply@reply.github.com>
Date: Sunday, 27 November 2016 at 5:10 pm
To: fullstackreact/react-native-firestack <react-native-firestack@noreply.github.com>
Cc: Angus Johnston <ajonno68@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [fullstackreact/react-native-fire

[2016-11-27 06:12] auser commented on #168
Okay, cool... did you enable it in Firebase?

[2016-11-27 06:12] auser commented on #168
Feel free to jump in the gitter room for more real-time debugging: https://gitter.im/fullstackreact/react-native-firestack

[2016-11-28 16:48] janvogt commented on #91
+1
Need this too. Relevant documentation is https://firebase.google.com/docs/reference/js/firebase.database.Reference#on

[2016-11-28 18:03] smhatre59 commented on #96
The issue still exists
Here is my code:
At the beginning index.android.js:
[code]
I then pass firestackDb as a prop in Navigator inside render method:
[code]
Then use the prop in following manner in a component:
[code]
![firestackissue](https://cloud.githubusercontent.com/assets/13968787/20679945/03e38956-b5c3-11e6-9432-1219d5f05416.jpg)

[2016-11-28 18:29] smhatre59 commented on #96
I am not sure if this is the right way but the offline persistence works correctly if I setpersistence in getDatabaseRef method around line 215 in FirestackDatabase.java file as follows:
[code]
I was able to save data locally after this without the error:
With network the app has following data fetched from database:
![firestackissueresolved1](https://cloud.githubusercontent.com/assets/13968787/20

[2016-11-28 18:51] chaitanya0bhagvan commented on #168
@ajonno Are you passing access_token or idToken. Firebase expects idToken for google auth

[2016-11-28 18:59] chaitanya0bhagvan commented on #96
@smhatre59 This is what I am doing in my code
[code]

Also, you should call Navigator after setPersistence is resolved

[2016-11-29 08:04] Salakar commented on #163
@rohitgoyal there is no logevent implemented on the master branch, can you give v3 branch a go, I implemented it on there

[2016-11-29 15:03] neverlan opened #169 "ref.push() should return an object instead of a promise"
According to https://firebase.google.com/docs/database/web/read-and-write, the push method should return an object to get the item key without waiting to resolve the promise.

This is useful to work offline and have our UI responding instantly without waiting for the server response.

We could implement something like this:
const { key, promise } = ref.push(item);

[2016-11-29 18:04] smhatre59 commented on #96
I am currently navigator directly in the render method:
[code]
Can you please explain how to give a call to navigator after setPersistence in enabled?

[2016-11-29 18:20] chaitanya0bhagvan commented on #96
I think you should create a firestack instance and setPersistence in
index.js. Once the firestack promise is resolved you can call
registerComponent

On 29-Nov-2016 11:34 PM, "Saurabh Mhatre" <notifications@github.com> wrote:

[2016-11-29 21:50] auser commented on #169
@Salakar @Ehesp ^^

I think you're right.

[2016-11-29 22:23] Ehesp commented on #169
@auser it makes sense, risk vs reward haha

[2016-11-30 00:55] jirotheone opened #170 "[v3] Impossible to register multiple listeners to the same ref on iOS"
It is impossible to register multiple listeners to the same ref on iOS.
Example:

const LIST_KEY = 'path/to/data';
firestack.database.ref(LIST_KEY).on('value', handleValueChange);
firestack.database.ref(LIST_KEY).on('value', handleValueChange2);

The second listener never gets registered and instead throws a warning when the callback is called (possible promise reject).
On Android the same impleme

[2016-11-30 09:59] Ehesp commented on #170
cc @chrisbianca : Did you fix this in v3?

[2016-11-30 11:32] chrisbianca commented on #170
@Ehesp No, I don't think I've touched this in v3.

The question here is should the multiple listeners be handled on the JS side of the bridge or in the native code? @auser what are your thoughts?

My gut is that the JS side should handle it, as currently if you add two listeners to the same ref on the native side, I *think* you'll end up with essentially the same event getting sent twice.  As such

[2016-11-30 13:53] florianbepunkt opened #171 "V3: ref().push().set({}) does not mimic js sdk"
Hi @Salakar, I noticed an inconsistency with the js sdk…

What I'm trying to do is to use push but save the uid that push generates within the object. With firebase js sdk, you would do it like this

[code]

see here: https://firebase.google.com/docs/database/web/lists-of-data

with firestack v3 this doesn't work, since you promisify the push() result regardless whether there is a server interacti

[2016-11-30 17:06] Ehesp commented on #171
@florianbepunkt Currently, push returns a promise since it has to interact with native code to get the new Firebase ID. On Salakars local branch, there is a work around in place to mimic web functionality however there was a bit of a debate on Gitter about it.

[2016-11-30 17:07] Salakar commented on #171
@florianbepunkt @Ehesp - what Elliot said really, i've done quite a bit of work on getting this working as per js sdk on my local branch as well as getting SERVER_OFFSET working synchronously also, but it's not been pushed up yet as its a WIP - plus the whole debate about it.

[2016-11-30 18:46] florianbepunkt commented on #171
@Salakar I really don't mind the promise way at all, so it's not really an issue for me, I just noticed it. But seems like you already tackled it.

I agreee, at least I don't see a change like this coming in firebase v3 version cycle.

[2016-11-30 18:46] #171 closed

[2016-12-01 00:11] auser commented on #170
I think the `JS` side is more flexible and is a better place to handle this. We still need to keep track of the listeners on the native side, but it's probably easier to register them with a unique name on the native side generated and passed down from the JS.

What do you think about that, @chrisbianca @Salakar @Ehesp ?

[2016-12-01 00:11] auser commented on #168
@ajonno did you get this fixed?

[2016-12-01 00:25] smkhalsa commented on #82
@auser I'm having this issue on iOS.

I believe there is an issue with how data is being returned to JS in general, not just with the `orderByChild` method. In my firebase, I have some data with alphabetic keys such as the following:

- aa
- bb
- cc

In the data browser, it is ordered as above. If I request it with the web JS library, it comes back correctly in the above order. However, when I req

[2016-12-01 00:47] jirotheone commented on #170
Just for the record, our workaround was to extend the "ref" and the "on" references to generate a unique ID to each listener on the JS side and manage the callbacks inside our application.
The problem was that every callback function had the same ID, so we included a generated hash on the prototype of the function, allowing the firestack to know which listener to detach on the "off" call. (:

[2016-12-01 01:53] smkhalsa commented on #82
I should note that I'm using the npm version, not the latest from master

[2016-12-01 05:36] ajonno commented on #168
Hey Ari - unfortunately no, I had to move on to other tasks the day after
we caught up. I'm going to take another look this weekend, hopefully to get
it sorted. Will let you know.

On 1 Dec 2016 11:11 AM, "Ari" <notifications@github.com> wrote:

[2016-12-01 08:55] szujak opened #172 "The default Firebase app has not yet been configured."
Hello everyone,
I have some problem with run release version of my app that using `react-native-firestack`. I searched through all topics but i did not found any solution.

So, everything works fine when I build debug version of app, and run it inside iOS simulator, but when I try to build release version (using this instructions https://facebook.github.io/react-native/docs/running-on-device.html#

[2016-12-01 11:11] florianbepunkt commented on #169
#171

`push()` should  return an object only when it's called without data. asfaik this is how it's handled in js SDK. so `ref('/somePath').push({'my': 'object'})` returns a promise whereas `ref().push()` is a synchronous call and returns an object.

[2016-12-01 11:20] Salakar commented on #169
@florianbepunkt ah ye correct, https://firebase.google.com/docs/reference/js/firebase.database.Reference#push - returns a thenable ref - should still be doable

[2016-12-01 12:40] florianbepunkt opened #173 "V3: firestack.ServerValue.TIMESTAMP"
Is this implemented? I get undefined for firestack.ServerValue.TIMESTAMP using the current v3 branch from this repo.

Or has the syntax for this changed?

Thank you.

[2016-12-01 17:08] florianbepunkt commented on #82
I experience the same issue on V3 branch. orderByChild takes no effect…

[2016-12-01 17:53] chaitanya0bhagvan commented on #82
@smkhalsa @florianbepunkt Use the master branch. The one on npm does not have this feature.

[2016-12-01 18:00] florianbepunkt opened #174 "V3: orderByChild + startAt or endAt"
@Salakar Sorry to bother you again. It seems like orderByChild is not working, at least when used with startAt or endAt. I have a list of message objects that I want to query based on their timestamp.

This code returns zero results

[code]

while this code returns all results

[code]

Based on my sample data below…both results are wrong. The first example should return the first last two objects,

[2016-12-01 18:01] florianbepunkt commented on #82
@chaitanya0bhagvan I created a new issue since I'm using v3 branch… maybe orderByChild is not implemented in this branch yet. #174

[2016-12-01 18:06] florianbepunkt commented on #173
okay, if anyone else stumbles upon this… syntax is different from js SDK. firestack.ServerValue returns a promise.

[code]

[2016-12-01 19:52] auser commented on #82
Not sure about the branch (yet), but I just pushed a new `npm` version (2.3.4), which includes this feature. Notice that the order is maintained _by_ the JS client through a `map` and `forEach` function as JS objects do not respect order. In order to keep order, you _have_ to use the JS function.

[2016-12-01 20:07] florianbepunkt commented on #82
@auser Thank you. I will wait and see if this is in Michael's branch which I'm using due to the different syntax. If not I will switch and rewrite my firestack calls.

You say we have to use the JS function. Is there any extra method involved or can we use something like

[code]

[2016-12-01 20:31] smkhalsa commented on #82
@auser Thanks! It looks like `npm` 2.3.4 fixed this for me.

[2016-12-01 21:59] austin43 opened #175 "Listening for specific paths on FirestackModule"
Hi,

I'm trying to listen to a specific path changing via FirestackModule.

[code]

Is there a way to just listen to `/users/1` for example if I just need to listen to changes on that path?  Can't find much documentation on FirestackModule, so hopefully someone can point me in the right direction. Thanks in advance.

[2016-12-02 00:17] auser commented on #82
@florianbepunkt it's a method on the database ref representation object, so it would happen in the `then` function.  Using your example:

[code]

[2016-12-02 00:18] auser commented on #175
@prescottprue How's integration with your redux module?

[2016-12-02 00:41] blumanski opened #176 "IOS - FirestackAuth - No known class method for selector..."
Xcode is failing to build

    .........../node_modules/react-native-firestack/ios/Firestack/FirestackAuth.m:490:45:
    No known class method for selector 'credentialWithIDToken:accessToken:'

[2016-12-02 06:27] auser commented on #176
Are you working off the master branch, v3, or npm?

[2016-12-02 10:05] Salakar commented on #174
Hmm weird one @florianbepunkt - database in the current pushed up state of my branch has not been touched bar a PR from @BlooJeans which was on master that I manually pulled in.

Will look at this today and get back to you, the example helps, cheers!

[2016-12-02 10:14] florianbepunkt commented on #174
@Salakar Maybe this is of interest #82 – it was not working properly on master until recently

[2016-12-02 10:24] neverlan commented on #176
Same error. 2.3.4 from npm.

[2016-12-02 11:27] Salakar commented on #174
@florianbepunkt looks like @chrisbianca fixed this issue 3 days ago on my branch - have you tried pulling the latest?

This commit:
https://github.com/Salakar/react-native-firestack/commit/ec9f48855f6580b2838b60db201e26f4fcb32a87

[2016-12-02 11:36] florianbepunkt commented on #174
@Salakar I did. To make sure I just installed it again via `npm install --save https://github.com/Salakar/react-native-firestack.git`

The commit only changes things on android side… I see this problem with iOS.

[2016-12-02 11:41] chrisbianca commented on #174
I only updated the Android side as that's where I'd noticed the issue.
Just taken a look and a similar sort of change does need to happen on the iOS side - I'll see if I can take a look in a little while...

[2016-12-02 11:45] Salakar commented on #174
@florianbepunkt oh ok my bad, thought you were having an android issue sorry.

@chrisbianca that would be awesome thanks!

[2016-12-02 11:46] florianbepunkt commented on #174
I'm not sure if this is related… using a fresh install from Salakar's fork I see the same issue on android.

Using my sample data
[code]
returns zero values…

[2016-12-02 11:58] chrisbianca commented on #174
Ok, I don't have any data setup to test this with at the moment.
When I get some time later on, I'll take a look and see if I can figure out what's going on.

[2016-12-02 12:02] florianbepunkt commented on #174
@chrisbianca okay. I throw together a simple test project and upload it if that helps

[2016-12-02 12:02] chrisbianca commented on #174
@florianbepunkt that would be great!

[2016-12-02 12:05] blumanski commented on #176
@auser
i work from master

cheers

[2016-12-02 13:53] florianbepunkt commented on #174
@chrisbianca @Salakar Okay, here we go… https://github.com/florianbepunkt/fireStackQuery

you can clone the repo, run npm install and run it. I've tested it on ios and it reproduces the issue.

[2016-12-02 17:18] chrisbianca commented on #174
@florianbepunkt @Salakar

So I've figured out why it's broken in Java... It's passing the startAt and endAt as a String rather than a number.  The fix is an awful lot of repetitive code but I can't think of a better way to work around it!  Just pushed the fix to the v3 branch and sorted for boolean types too.

Will try and look at iOS now...

[2016-12-02 18:17] florianbepunkt commented on #174
@chrisbianca great! just checked android version with your commit

[2016-12-03 08:43] redwind commented on #176
got same error with npm

[2016-12-03 10:04] Ehesp commented on #176
Try v3 branch guys.

[2016-12-03 10:15] chrisbianca commented on #174
I've just committed the equivalent fix for iOS.  I rewrote a large part of the iOS database module to bring it more in line with Android and stop regenerating firebase references unnecessarily.  Let me know if you have any other issues...

[2016-12-03 10:19] neverlan commented on #176
Xcode is still failing to build on v3:

/node_modules/react-native-firestack/ios/Firestack/FirestackCloudMessaging.m:74:28: Expected method body

[2016-12-03 10:45] florianbepunkt commented on #174
@chrisbianca I just freshly cloned my example project linked above and run `npm install`… tne ios part won't boot. android works fine.

this is the output of `react-native log-ios`

[code]

[2016-12-03 11:01] chrisbianca commented on #174
@florianbepunkt Ah yes, for the time being, add the following in your AppDelegate.m:

At the top:
[code]
In `didFinishLaunchingWithOptions`:
[code]

I'll look at why Firebase isn't being initialised before the database later today / tomorrow

[2016-12-03 11:11] florianbepunkt commented on #174
@chrisbianca Thank you. This did the trick

[2016-12-03 14:21] Salakar commented on #173
@florianbepunkt I have this working locally the same as the web api, synchronously - as per your first example. Internally uses the built in FB ref `.info/serverTimeOffset` to keep it up to date.

I need to push up my local sometime, just not sure it's in a safe state yet as i've done quite a lot on it.  Working on it though!

[2016-12-03 15:54] florianbepunkt commented on #173
@Salakar Great. I'll try it when you push it.

[2016-12-03 16:42] yn5 commented on #176
Same here.

Firestack 2.3.4.

[2016-12-03 17:11] yn5 commented on #176
Fixed the npm dependency version at 2.3.3 which works for now.

[2016-12-04 09:14] chrisbianca commented on #174
@florianbepunkt Just pushed a change so you shouldn't need to configure your app in the iOS code anymore

[2016-12-04 11:45] chaitanya0bhagvan opened #177 "document hack utils/log.js is breaking react-timer-mixin"
`import root from './window-or-global'` in utils/log.js is defining an empty window object and breaking react-timer-mixin.

![Screenshot](https://cloud.githubusercontent.com/assets/4795989/20865774/657f4be6-ba41-11e6-9096-5706b95acfe0.png)

[2016-12-04 14:20] Salakar commented on #173
@florianbepunkt keeping open for v3 milestone

[2016-12-04 14:54] florianbepunkt commented on #174
@chrisbianca First of all thank you. I feel a bit lost here… in my demo example I linked above, this works. When I put it in my app I'm working on, startAt and endAt have no effect. I made sure I updated firestack… it's up to date. and it's the same data set.

any idea how this can happen?

[2016-12-04 15:55] florianbepunkt commented on #174
@chrisbianca okay, got it working now. I had to delete the ios build folder. either I messed up my xcode project settings or when you run the app it's not built from scratch… anyway it works now 👍

I found a small error by accident … I'm working on a kind of messenger. so when I open a conversation I attach a listener for messages, when I leave the conversation I detach the listener by calling

[c

[2016-12-04 19:25] auser commented on #176
Fixes with latest push/update.

[2016-12-04 19:25] #176 closed

[2016-12-04 21:56] auser commented on #70
Any updates on this error? @jsappme

[2016-12-05 07:58] chrisbianca commented on #174
@florianbepunkt I haven't changed anything around the off() functionality so this may be a pre-existing issue.

I believe @Salakar is going to look at the JS side of the database and try and simplify the listeners so may cover this then.

[2016-12-05 09:47] Ehesp commented on #172
This won't cause you any problems, just ignore it for now. I believe it's for running multiple instances of Firebase with a different namespace.

cc @Salakar v3

[2016-12-05 10:03] Ehesp opened #178 "Add TTL to upstream messages"
Currently any messages sent using `messaging().send(...)` have a TTL of `0`. If the device is offline they won't be sent when it reconnects. Adding a TTL handles this for us but it's currently not set.

Locally on Android I've added this myself below this line: https://github.com/fullstackreact/react-native-firestack/blob/master/android/src/main/java/io/fullstack/firestack/FirestackCloudMessaging.

[2016-12-05 10:17] florianbepunkt commented on #174
Okay. I did not notice this error before the update.… i did some more testing. I also get this error when I properly atatched a listener first… so basically whenever I remove a listener.

[2016-12-05 14:07] BlooJeans commented on #174
Try:
[code]

Everytime you modify the reference (adding modifiers or changing the path), it effectively creates a new unique reference.  Two references that have the same 'builder' are not the same internally.

[2016-12-05 16:23] luisfuertes commented on #69
I have the same problem on Android.

Method on iOS works fine, but on Android:
`User does not have permission to access this object.`

My storage rules:
[code]

PD: On iOS exist `res.url`
PD2: Thanks for this component!

[2016-12-06 05:24] #177 closed

[2016-12-06 11:23] florianbepunkt commented on #174
@BlooJeans Thanks for the clarification. Makes sense.

[2016-12-06 15:25] Salakar commented on #174
@florianbepunkt @chrisbianca - @Ehesp and I are having the same issue at the moment:

[code]

Returns no results on firestack. The exact same query however on the web sdk returns correctly and gives `matches` all for that time range.

We're using the head of my fork so it has your changes @chrisbianca - am i missing something?

Also I think a better way to handle the value types would be get the t

[2016-12-06 16:16] florianbepunkt commented on #174
@Salakar I can confirm (sorry @chrisbianca didn't notice since I had no need to combine startAt and endAt yet)

although I get results, when I combine startAt and endAt

both queries below return the same results. updated my test project https://github.com/florianbepunkt/fireStackQuery

[code]

[2016-12-06 16:49] chrisbianca commented on #174
@florianbepunkt thanks, we've been discussing off this thread and I'm just working on a fix

[2016-12-06 16:55] florianbepunkt commented on #174
@chrisbianca alright. just fyi: I tested above only on ios. if I can help in any way let me know.

[2016-12-06 17:01] chrisbianca commented on #174
@florianbepunkt I've just pushed a fix which I've tested on iOS.  Would be great if you're able to confirm that it's working for you now too

[2016-12-06 17:08] florianbepunkt commented on #174
@chrisbianca works on ios. testes orderByChild with startAt, endAt and both combined.

[2016-12-06 17:26] chrisbianca commented on #174
Excellent!  @Salakar when you're happy, I think this can be closed again

[2016-12-06 18:17] Ehesp commented on #174
Also works on my end. Nice one 👍

[2016-12-07 10:06] Salakar commented on #174
Closing issue as it's now resolved completely 👍

[2016-12-07 10:06] #174 closed

[2016-12-08 05:10] blumanski opened #182 "Android build failing - FirestackCloudMessaging.java:127: error:"
The nmp and the master have that problem at the moment.

    node_modules/react-native-firestack/android/src/main/java/io/fullstack/firestack/FirestackCloudMessaging.java:127: error: cannot access AbstractSafeParcelable
                RemoteMessage remoteMessage = intent.getParcelableExtra("data");

[2016-12-08 14:22] florianbepunkt opened #184 "[V3] on('value') listener fires twice"
Not sure if this is a firebase issue, intended behaviour or an issue with firestack.

i have a reference that I attach a listener to.

[code]

the console.log fires twice where I would exspect it to fire only once. first I thought I added the listener twice, but I checked and it's not the case.

If I changed the listener to child_added, it fires only once as exspected

[code]

[2016-12-08 14:55] florianbepunkt opened #185 "[V3] Enhancement - support ref.parent with snapshot"
I noticed that you can't get the parent of a reference as in JS SDK: https://firebase.google.com/docs/reference/js/firebase.database.Reference#parent

in my specific case I need to get the parent path/key from a snapshot, which in JS SDK I would do liek this

[code]

EDIT: To clarify… when I have a normal database ref, getting the key of the parent works. but not with a snapshot.

[2016-12-08 16:02] florianbepunkt commented on #185
digging through code I noticed that snapshot.ref returns a Database object and not a Reference Object.

[2016-12-08 23:20] blumanski commented on #182
Error is gone now...
I run
    └── react-native-firestack@2.3.5
    "react-native-firestack": "^2.3.5",

The versions are a bit confusing, npm install is installing version 2.3.4

[2016-12-08 23:20] #182 closed

[2016-12-10 13:40] morelazers commented on #105
Hi @eliyazdi, I'm having the same error on Android.

I've added the `google-services.json`, and I'm setting up the new Firestack instance like this:
[code]

But if I log the Firestack instance later on (like when I try to upload something to storage), I can see that `configured: false`.

To clarify, I'm doing the above in my root component, then in another component I am doing `let firestack = new

[2016-12-10 17:43] thevishnupradeep opened #186 "How do I add user id to the ref for FirestackModule?"
I want to add user id to the data ref. Like

const inst = new FirestackModule('$id/events', {firestack});

If not this, is there any other way to separate data according to user?

By the way, you guys have done a terrific job. Thank you so much for this.

[2016-12-11 14:00] florianbepunkt opened #187 "[V3] ref.onDisconnect().setValue() allows only strings or objects"
`ref.onDiscconnect().setValue()` only allows for strings and objects…

this makes it difficult to implement a presence system (storing timestamp or a isOnline boolean).

I checked the iOS and android code and there are only methods for setting string and objects. I tried adding additional native methods to handle ints and bools but failed miserably

in iOS adding the following method

[code]

give

[2016-12-11 21:44] stilva opened #188 "[v3] – FirestackCloudMessaging.m: expected method body"
I get an error when I try to build an empty RN project using Firestack from the branch `v3`.

I get the following error:

[code]

**Current environment**:
**OS X** 10.12.1
**XCode** 8.1 & 7.2.1
**react-native-cli**: 2.0.0
**react-native**: 0.39.1

**Steps to reproduce**:
`react-native init TestProject`
`cd TestProject`
The app compiles and runs properly at this stage.

`npm i -S fullstackreact/rea

[2016-12-12 12:51] florianbepunkt opened #189 "[V3] storage meta data"
Noticed two issues when it comes to file meta data

Upload works fine, but meta data is not showing up in firebase storage dashboard

[2016-12-15 16:14] matthewjamieson commented on #159
+1 same issue for me as well

[2016-12-15 16:29] matthewjamieson commented on #159
Found the Solution.
change resp.response.credentials.access_token  to   resp.response.credentials.idToken

https://github.com/fullstackreact/react-native-firestack/issues/130

https://gist.github.com/auser/87e6a25da0b25c465dd0db097b8864ca#file-firebase_google_login-js-L108

[2016-12-15 20:09] rohitgoyal opened #190 "Is there a way to register event with value?"
Hi
This library works perfectly fine. I am using it for the Firebase Analytics. Is there any way I can send the eventName with value?

Thanks!

[2016-12-17 19:31] stilva commented on #188
For what it's worth, I'm not having the issue while using `v3` on #167

[2016-12-18 11:27] smhatre59 opened #191 "Devtools issue"
I keep on getting this issue when app is offline and even when chrome debugger is disabled:
![screenshot](https://cloud.githubusercontent.com/assets/13968787/21293189/f3116ba4-c542-11e6-814c-9824aaf2cdc3.jpg)
Can anybody post any solution/change for handling this issue?

[2016-12-19 14:15] pedropeixoto commented on #191
I have the same issue.

[2016-12-19 14:36] matc4 commented on #191
me too

[2016-12-20 13:13] Ehesp commented on #191
Does this happen on V3?

[2016-12-20 13:13] Ehesp commented on #185
https://github.com/Salakar/react-native-firestack/commit/57df0780d75497ac02720451247cd22ae1cfdda2

[2016-12-20 13:19] Salakar commented on #185
@florianbepunkt this has been implemented on my fork as per web API it's a getter method, so usage is slightly diff from your example:

[code]

https://github.com/Salakar/react-native-firestack/blob/master/lib/modules/database/reference.js#L292

Closing as now complete.

[2016-12-20 13:19] #185 closed

[2016-12-20 13:24] Salakar commented on #185
@florianbepunkt actually my bad, thought this was fixed, it wasn't, just pushed a fix so it is now =]

[2016-12-20 13:33] florianbepunkt commented on #185
@Salakar Great, thank you. Hope I can check it out soon.

[2016-12-21 08:22] theobouwman opened #192 "Firebase Analytics"
When I log an event with a nam using the code below it is not clear to me where I can see the data that is passed as second parameter in Firebase.
[code]

[2016-12-21 08:56] theobouwman opened #193 "Notifications"
When I register my device for notifications via:
[code]
I get not errors.
But when I send a notification via Firebase to my device with its token I don't get a response

[2016-12-21 09:15] theobouwman commented on #191
Me2

[2016-12-21 09:36] Salakar commented on #191
@theobouwman @pedropeixoto @matc4 @smhatre59 please try [my fork](https://github.com/Salakar/react-native-firestack). Its v3 of firestack. This issue was fixed I believe there.

[2016-12-21 11:07] smhatre59 commented on #191
Thanks @Salakar can you please issue PR to core branch to fix it in master?

[2016-12-21 12:26] Ehesp commented on #191
@smhatre59 V3 is currently a big overhaul of master branch so I don't think it's that easy for @Salakar to do that.

[2016-12-21 14:39] Paul-Todd commented on #186
When you login you will get a userid in the user object which you can use

[2016-12-21 14:42] Paul-Todd opened #194 "setUserId incorrect method name in iOS"
When calling setUser in analytics in iOS this references the native side method as "setUserId" instead of "setUser". If you attempt to call setUser in javascript this will reject the promise with an error.

This is in file react-native-firestack/lib/modules/analytics.js:34

Currently is:
  setUser(id, properties={}) {
    return promisify('**setUserId**', FirestackAnalytics)(id, properties);
  }

[2016-12-21 17:01] cuongtructran commented on #191
Hi all, is there any workaround for this?

[2016-12-21 19:33] kingtrocko commented on #115
when is it going to be ready to use remote config for both android and ios? I can help on making that feature available if there is any roadblock with the pull request.

[2016-12-22 15:15] nkashyap commented on #115
+1 it is a blocker for my app, If you need help with javascript side, i can certainly help.

[2016-12-22 21:26] coffeeandjunk opened #195 "Exception '*** setObjectForKey: key cannot be nil' was thrown while invoking uploadFile on target FirestackStorage"
![img_3242](https://cloud.githubusercontent.com/assets/3206580/21440746/89c60bf2-c8ba-11e6-9567-27282d79c4cf.jpg)

Getting this error when trying to upload a small video (~839KB). I wonder if I've made some silly mistake in the code somewhere.

Here's the react-native-camera snippet.

[code]

**The error goes away after reloading once. But nothing happens. No file gets uploaded.**

[2016-12-23 07:33] sujameslin opened #196 "Build failed in Release mode"
It seems working well in Debug mode, but in Release mode build fails

### Steps to reproduce

1. Create new project by react-native cli

2. Install react-native firestack

### Commands for reproduce

[code]

### Build fail error that I got finally

[code]

Does anyone know how to solve this issue?

Thanks

[2016-12-26 16:30] IljaDaderko opened #198 "[v3] Features that are not yet / will be supported?"
By the quick glance of README file I'm not entirely sure if features like Crash reporting / notifications etc.. are supported by firestack, this led to a question:

Is there a list somewhere that shows current firebase features put against current firestack features and some sort of indication if missing fireabse features will be supported at certain point?

If there is no such list would you cons

[2016-12-26 21:45] arunshan opened #199 "_clearer is not a function."
Hi Guys, Currently I am using the latest version of firestack in my project.

Error:

[code]

The following is the screencap of the error when I click on the facebook sign in button.

https://cl.ly/2E2h2l1X1T2V

Any help here is greatly appreciated.

Thank You!

[2016-12-27 14:51] tam-borine opened #200 "[v3] firestack.database() is not a function error - documentation error"
In several places in .md files for this library, `firestack.database().ref('someNode/')...` is recommended but I kept getting an error that firestack.database() was not a function. I opened the firestack object and indeed couldn't find such a function. I had to go into FirestackApp, the example working app, to see how they had done it just to realise that `firestack.database.ref('someNode/')...`

[2016-12-27 14:51] tam-borine commented on #200
I would try to update docs myself and make a PR but it's in multiple places and also in Salakar's fork and maybe others so thought I'd make an Issue for now and see what people think.

[2016-12-27 15:14] IljaDaderko opened #201 "Firebase/* dependency not used in concrete target"
Just tried to run `pod update` after installing firestack and am getting this error

[code]

Any ideas to what could be causing this?

[2016-12-27 20:06] IljaDaderko commented on #201
Issue appeared to be complex flow of events where cocoapods was not able to fetch from git due to restrictions they reached, hence these deps were not pod'd correctly.

[2016-12-27 20:06] #201 closed

[2016-12-27 21:25] alexkendall commented on #199
Use master now. The error is fixed there but a new release would be appreciated.

[2016-12-28 11:44] auser commented on #198
Yes, absolutely. Send a PR and I'll fill it out!

:)

[2016-12-29 11:40] Salakar commented on #173
@florianbepunkt

Pushed this up, syntax is as follows now:

[code]

As you can see its now like the web sdk, no need to use a promise to get server val. Same with push.

Give it a whirl when you can :)

[2016-12-29 11:46] #173 closed

[2016-12-29 11:47] Salakar commented on #188
@chrisbianca is this something you could possibly look at? :)

[2016-12-29 11:51] Salakar commented on #200
@tam-borine v3 branch on here has been re-synced with my fork - the docs should be correctly saying to use `database()` - main point of my fork is to have it match the firebase web api - so the docs can therefore be minimal. \o/

I believe @Ehesp was also doing some work on the docs?

[2016-12-29 11:58] Salakar commented on #199
@arunshan @alexkendall check out the v3 branch, that's the cutting edge release, now mirrors firebase web api, much more stable and error free as well as lots of missing features added.

Hope to have a release for it soon ™️

If you'd like a release for it now, like an alpha or something rather than using git then let @auser know =] he can release an alpha on npm.

Closing as issue fixed in upcomi

[2016-12-29 11:58] #199 closed

[2016-12-29 12:02] Salakar commented on #198
@IljaDaderko before you jump ahead and do that, please check out the v3 branch - that's the cutting edge release ;p lots of new things implemented there such as analytics, mirroring fb web sdk and so on.

If you'd like to PR for this then please send the PR to my fork, it'll get merged in then synced up to v3 branch.

[2016-12-29 12:04] Salakar commented on #196
@sujameslin can you try manually setup firestack without using react native link

[2016-12-29 12:10] Salakar commented on #194
@Paul-Todd thanks for this 👍  this has been fixed in the upcoming v3 release of firestack - feel free to check out the v3 branch and use it directly, its stable.

A lot of the missing analytics methods have also been added as well as android support. Just note that v3 now heavily mirrors the firebase web sdk.

See [here](https://github.com/Salakar/react-native-firestack/blob/master/lib/modules/ana

[2016-12-29 12:10] #194 closed

[2016-12-29 12:16] Salakar commented on #192
I believe you need to link your fb project with google analytics to view in depth data, the firebase console is limited in what it displays analytics wise.

Also, might be worth using the v3 branch, analytics has been updated a lot, missing methods added and now has ios plus android support. New analytics api [here](https://github.com/Salakar/react-native-firestack/blob/master/lib/modules/analytic

[2016-12-29 12:16] #192 closed

[2016-12-29 12:19] Salakar commented on #190
@rohitgoyal check out the v3 branch and the firebase analytics sdk [here](https://github.com/Salakar/react-native-firestack/blob/master/lib/modules/analytics.js)

**Example:**

[code]

[2016-12-29 12:19] #190 closed

[2016-12-29 12:22] auser commented on #199
👍 I'll pull this tomorrow (almost tomorrow already?) and update FirestackApp to go along with the new version.

[2016-12-29 12:26] Salakar commented on #184
@florianbepunkt have you got persistence enabled?

If so: Firebase returns the locally persisted value immediately followed by the server value so firing twice is to be expected. Worth noting that using a .once on persistence will always return the local data, never from the server. (it gets updated after receiving a response, but will always be behind)

If you don't have it enabled then can you t

[2016-12-29 12:28] #186 closed

[2016-12-29 12:29] Salakar commented on #184
Might also be related to: https://github.com/fullstackreact/react-native-firestack/issues/170

[2016-12-29 12:31] Salakar commented on #170
I believe @chrisbianca fixed this (your subscriptions changes)

@jirotheone could you give v3 branch a whirl please - just keep in mind its now matching the FB web sdk. (plus lots of new shineys).

[2016-12-29 12:36] Salakar commented on #172
@szujak I think your project has been incorrectly setup, could you follow the manual steps to import firestack into your project - without `react-native link`

[2016-12-29 12:37] IljaDaderko commented on #198
@Salakar @auser sorry for late response guys, will gladly jump on this 👍 I think I'll have PR ready next weekend, due to new year celebrations. @Salakar I assumed v3 was merged into master already (As both documentations have exactly same installation guides for npm), what are the differences between these at the moment?

[2016-12-29 12:37] Salakar commented on #160
@auser any update on this?

[2016-12-29 12:38] florianbepunkt commented on #184
@Salakar Yes, I have persistence enabled. Didn't know about this behaviour but totally makes sense. Thanks for the heads up. I'll try to give the new updates a go next week… stuck in another project atm.

[2016-12-29 12:38] #184 closed

[2016-12-29 12:38] Salakar commented on #163
Fixed on upcoming v3, closing issue.

[2016-12-29 12:38] #163 closed

[2016-12-29 12:54] Salakar commented on #198
@IljaDaderko so many changes to go through all of them, I think the only things left now that are missing from firestack are:

- Database transactions - don't think this is doable over RNBridge.
- Complete FCM implementation - just the basics in, onNotif, sendToTopic etc.
- Crash reporting - planned.
- Ads - this is a big one though - bigger than all of them combined really - so going to be doing

[2016-12-29 12:59] Salakar commented on #198
@IljaDaderko its very usable, we use it in our prod app, its stable atm, my fork is where the madness is at, then I push up to v3 branch at stable intervals.

Upgrade path is literally switch to the firebase web sdk syntax e.g. `.database` becomes `.database()` and lots of similar changes such as method name changes. Pretty much just follow web sdk docs.

[2016-12-29 13:01] IljaDaderko commented on #198
@Salakar Awesome, I assume it is available via npm at `react-native-firestack@3.0` or something like this?

[2016-12-29 13:02] chrisbianca commented on #188
@Salakar I've just tried this with the latest v3 and it compiles fine.

@stilva Can you confirm if this is still an issue?

[2016-12-29 13:05] Salakar commented on #198
@IljaDaderko not yet, you can npm install it with the git name / url

e.g.
[code]

@auser said he'll release a v3 alpha version to npm sometime tomorrow.

[2016-12-29 13:06] Salakar commented on #188
@chrisbianca @stilva sounds like an incorrectly setup project to me

Have made a note to review install docs sometime.

[2016-12-29 16:08] stilva commented on #188
Can confirm this has been fixed. Thanks!

[2016-12-29 16:08] #188 closed

[2016-12-30 03:16] jandacreate commented on #78
Also looking for this feature, fix yet?

[2016-12-30 23:11] joegoodall1 opened #204 "Could not invoke FirestackAuth.listenForAuth"
Getting this RSOD when installing to Android. Everything works on iOS. Have gone through the installation instructions and everything is set up. Anybody had similar problems and/or knows how to resolve this?

[2016-12-31 17:36] smkhalsa commented on #200
@Salakar I've been using the firebase JS library as follows...

[code]

I just tried  pulling down the v3 branch and swapping out `firebase` for `react-native-firebase`:

[code]

However, I'm getting an error `_reactNativeFirestack2.default.database is not a function`

I tried deleting my `node_modules` folder and reinstalling as well as `react-native unlink` / link, but the problem persists. Is t

[2017-01-02 09:35] Salakar commented on #198
@IljaDaderko still waiting on @auser sorry.

[2017-01-02 09:38] Salakar commented on #200
@smkhalsa it's not swapped out correctly, you need to empty the existing dir before pulling down - otherwise there's a mash of files.  e.g. `database.js` vs `database/index.js`

[2017-01-02 11:51] sprmn commented on #191
This bug is probably caused by overwriting the window object. Others seem to have related issues (facebook/react-native#11297).

Applying  bfa9ed3 manually fixed the issue for me. Maybe @Salakar can add this fix to the
version that is available on npm?

[2017-01-02 13:06] Salakar commented on #191
@sprmn I fixed that in my fork a while back, I don't have access to publish to npm, @auser was meant to publish an alpha v3 a while back and still hasn't 😓

I'm happy to publish to another npm name if you'd like it now?

[2017-01-02 13:28] sprmn commented on #191
If your fork is stable I'll use your fork. However I think a lot of others will experience the same problem. It would be better if the latest stable release on npm would work out of the box. Maybe someone else with access can publish this quick fix?

[2017-01-02 13:50] auser commented on #191
I'll take care of this today

[2017-01-03 11:19] esdrasportillo commented on #200
@Salakar Do you know when it will be released?
Thanks.

[2017-01-03 12:21] luisfuertes commented on #69
Somebody has solved this issue? I cant get downloadUrl on Android because i havnt permission.. but on iOS works fine

[2017-01-03 20:39] walkerdigital opened #206 "Keychain Issue"
When I initially added firestack into my RN app it worked great.  All of a sudden I started getting an error when attempting to use the Authentication.

The err being thrown is:

[code]

For 2 days I've been digging and tried about a dozen things to get XCode to fix the problem.  When I run in Simulator from XCode (by clicking the play button) it seems to work fine.  When I use the react-native-cl

[2017-01-04 03:00] texas697 opened #207 "app crashing on launch. "java.lang.NoSuchMethodError: No static method ""
The app builds and installs on the phone. however it crashes immediately. I have found this via adb logcat

java.lang.NoSuchMethodError: No static method zzb(Ljava/lang/Object;Ljava/lang/Object;)Ljava/lang/Object; in class Lcom/google/android/gms/common/internal/zzaa; or its super classes (declaration of 'com.google.android.gms.common.internal.zzaa' appears in /data/app/com.m

com.google.firebase.

[2017-01-04 04:52] #207 closed

[2017-01-04 15:21] auser commented on #198
I haven't released it yet. I'm converting the example app (FirestackApp) to use v3 (in the v3 branch there). Once I've completed the transition, I'll release an alpha version on npm.

https://github.com/fullstackreact/FirestackApp/tree/feature/v3

Pos are gladly accepted!

[2017-01-04 16:23] auser commented on #172
@szujak any updates on this?

[2017-01-05 02:49] sujameslin commented on #196
@Salakar It works with manual installation.
But you have to update the readme since cocoapod installation is not working by following doc.
Please check my PR.
https://github.com/fullstackreact/react-native-firestack/pull/211

[2017-01-05 07:59] szujak commented on #172
It seems to be solved in 2.3.5. I update to this version and do the manual setup steps from doc once again and did not notice this problem.

Thank you for your answers. I think this issue can be closed :)

[2017-01-05 11:12] neosign opened #214 "Running app using Released APK crashed but debugging-APK works fine"
**Reproduction:**
 - ./gradlew  assembleRelease
 - install app_release.apk to GenyMotion / real devices
 - click to the app to launch
 - app crashed

Ps: debugging apk is working fine.
**Logcat:**
  on surface 0xd7d95040, error=EGL_SUCCESS
01-05 06:07:01.053  1093  1296 W EGL_emulation: eglSurfaceAttrib not implemented
01-05 06:07:01.053  1093  1296 W OpenGLRenderer: Failed to set EGL_SWAP_BEHAVIO

[2017-01-05 12:51] Ehesp commented on #214
In your logs, search for the text: `beginning of crash`

Those logs aren't showing much right in relation to the crash. Also are you on V2 or V3 of Firestack?

[2017-01-05 13:39] Salakar commented on #214
@neosign I assume you ran debug apk on the same device, the geny motion one? If not then your geny motion is missing google play services, - it doesn't come with it by default, will need to install it.

[2017-01-05 13:42] Salakar commented on #206
@walkerdigital

Firebase Authentication state is shared between different apps when running on the iOS Simulator.

When running two or more applications that use Firebase Authentication on the same iOS simulator, there is a issue with the iOS keychain that causes the authentication state to be shared across the different applications.

This means that if you sign in to an app, and later open a sec

[2017-01-05 14:29] neosign commented on #214
@Ehesp
"react-native-firestack": "^2.3.5", I'll try to search text through the log following your suggestion
@Salakar
I've already installed Google Play service on Geneymotion and It also has the same behavior on real devices

PS. when I also try commenting out the code which relates to FireStack lib,  the app (app_release.apk) works just fine.

[2017-01-05 18:58] priyesh9875 commented on #193
You need to pass `topic_name` in `subscribeToTopic` function

[2017-01-05 21:19] tegument commented on #69
double check that you have setup the Firebase Android API:
https://firebase.google.com/docs/android/setup
The google-services.json needs to be added to the /app directory and the android project files need to be updated.

[2017-01-06 13:53] Ehesp commented on #214
@neosign Have you tried the v3 branch?

Your error is as follows... you're saying the same code works in dev mode but not prod? Sounds like a babel issue.

[code]

[2017-01-06 17:10] vivekmago opened #216 "Exception 'Calls to setPersistenceEnabled must be made before any other usage of FIRDatabase instance.' was thrown while invoking enablePersistence on target FirestackDatabase with params"
I cannot get persistence to work have the following code in my index file but it keeps cribbing about the error.. pls help what am I doing wrong...

const firestack = new Firestack();

	firestack.onReady(()=> {
    	firestack.database.setPersistence(true);
    });

[2017-01-06 21:30] morelazers commented on #207
hey @texas697 - how did you solve this?

[2017-01-06 22:25] rigobcastro commented on #191
Same problem here, any update for this? Thanks!

[2017-01-07 00:38] DanielMcColgan opened #217 "After installation and setup, error"
Hello!

After I setup project and trying to start I have the same issues each time (I did this 5 times before starting write here...)

What I actually did:
[code]
Next I copy file into xcode project "GoogleService-Info.plist".
(https://i.imgsafe.org/0369edcc9d.png)

After I launch app using react-native run-ios:
(https://i.imgsafe.org/037c6d1973.jpg)

Please, help me! Actively looking for resolve

[2017-01-07 00:40] DanielMcColgan commented on #216
Hello, @vivekmago ! Did you had some issues like [this](https://github.com/fullstackreact/react-native-firestack/issues/217) ?

[2017-01-07 00:45] vivekmago commented on #217
no your issue seems different.. I am past compilation.. :-) You issue might be related to React 0.4 which was recently released in case it is a brand new project. Try downgrading to 0.39.2 if it is related to that.

[2017-01-07 00:50] DanielMcColgan commented on #217
@vivekmago, nothing change I'm using 0.39.2. Also I use node v 7.3.0.

[2017-01-07 11:00] jvorcak opened #218 "Use of undeclared identifier 'RCTReloadNotification'"
Hi guys,

I've created a fresh react native project today using RN 0.40.0.
I've added RNF using `yarn add react-native-firestack` && `react-native link` && `cd ios && pod update --verbose`

I've opened `ios/[YOUR APP NAME].xcworkspace` file and I'm getting the following error when building the project

```/Users/.../node_modules/react-native-firestack/ios/Firestack/Firestack.m:58:59: Use of undecl

[2017-01-07 19:28] walkerdigital commented on #206
Thanks for the suggestion.  Ultimately what I did was generate a new app and drag over all of my ./App contents and it started working as expected.  I had done this before I read your suggest but if I encounter again I will certainly give this a try.  Unfortunately I deleted the version of the project which wasn't working.

I appreciate the help!

[2017-01-07 19:40] smkhalsa commented on #200
@Salakar I'm not sure I understand. I've deleted my entire node_modules dir and unlinked / linked react-native-firestack, but I still get this error.

[2017-01-07 23:56] auser opened #219 "Messaging error"
![](http://d.pr/i/fJ7u.png)

https://github.com/fullstackreact/FirestackApp/blob/master/app/views/Messaging/Demos/Setup.js

TODO:

[2017-01-08 00:11] DaBs opened #220 "[v3] .once gives error "FirestackDatabase.onOnce got 4 arguments, expected 5""
As title states. It seems to be pretty simple, just somebody who forgot to add the callback [here](https://github.com/fullstackreact/react-native-firestack/blob/v3/lib/modules/database/reference.js#L111). I haven't tested the fix, but will do in the near future.

[2017-01-08 00:45] auser commented on #220
Yes, this is a hanging bug that's actually preventing the update to v3. @Salakar @chrisbianca

[2017-01-08 00:47] auser commented on #218
Are you using Messaging?

[2017-01-08 08:33] chrisbianca commented on #220
@DaBs .promisify() adds the callback handler [here](https://github.com/fullstackreact/react-native-firestack/blob/v3/lib/utils/index.js#L135), so it doesn't need to be passed through where you've suggested.

@auser I'm using .once() without any issues, and can't figure out why this issue is affecting you both.  I'll ping you on chat and see whether we can get to the bottom of this.

[2017-01-08 10:51] jvorcak commented on #218
I think so ...
[code]

[2017-01-08 16:34] IljaDaderko commented on #218
Upgraded react native re-linked all the pods and am getting this issue as well, I am not using Messaging at the moment.

[2017-01-08 18:59] dcgoss commented on #218
It has been deprecated. See https://github.com/facebook/react-native/commit/286a1b2e5ef96328a585e9760a971ac034a6e56f, https://github.com/facebook/react-native/releases/tag/v0.40.0.
Trying to figure out how to replace it.

[2017-01-09 03:57] moooji commented on #220
Looks like for some reason `args[3]` (eventName) is `undefined`.

[2017-01-09 04:14] moooji commented on #220
@DaBs The (reference.js) code you are linking to is actually not being used :-o The actual implementation seems to be here https://github.com/fullstackreact/react-native-firestack/blob/v3/lib/modules/database.js#L222

And there seems to be the `modifiersString` argument missing.

[2017-01-09 04:55] moooji commented on #216
I have the same problem in v3. Basically I am doing this:
[code]

[2017-01-09 05:21] moooji opened #222 "[v3] Snapshot forEach does not behave like Web SDK"
The Web SDK Snapshot behaves like this:
[code]

Firestack v3 behaves differently:
[code]

In my case, the problem is mostly that I do not get the child's `key` in the forEach loop.

[2017-01-09 05:27] moooji commented on #200
`database.js` seems to be still in the v3 repo and overrides `database/index.js` See here: https://github.com/fullstackreact/react-native-firestack/blob/v3/lib/modules/database.js

This is also the cause for this issue: https://github.com/fullstackreact/react-native-firestack/issues/220

[2017-01-09 09:04] neosign commented on #214
Still no luck,
I removed all my code and just do simple importing lib
`import Firestack from 'react-native-firestack';`

The signed app crashed  then I remove Firestack lib (by commenting out)  the signed app works again.
`//import Firestack from 'react-native-firestack';`
PS. I haven't tried v3 yet .

[2017-01-09 10:53] Salakar commented on #220
@moooji that explains that, that'll be @auser who did that merge then ;p was all good at my last merge and there should be any direct merges except from my remote branch, otherwise it screws up like this.

@auser https://github.com/fullstackreact/react-native-firestack/commit/3612e8259647b5058d4087918ed8be87038c9291

@Ehesp

[2017-01-09 10:55] Salakar commented on #220
@moooji use my fork, that's all correct there with no weird merges.

[2017-01-09 11:51] Salakar commented on #200
@moooji see https://github.com/fullstackreact/react-native-firestack/issues/220#issuecomment-271256869

[2017-01-09 14:58] leonzinger commented on #83
Hi Guys,

I am dealing with this problem for two days already. It still doesn't work.

I have a react-native v 0.40.0 firestack 2.3.5

followed all of the steps above but i still get this message "Native module cannot be null" after i add
`import Firestack from 'react-native-firestack'` in index.ios.js

[2017-01-09 15:01] florianbepunkt commented on #83
@leonzinger Hi, I had this problem myself… using react-native-link on a fresh project it did NOT create the podfile (well it did, but an empty one).

so I needed to create a file called Podfile with the following content inside the `ios` folder

[code]

after you created the podfile run

[code]

[2017-01-09 15:16] DaBs commented on #220
Closing this as it's no longer relevant as the v3 branch of @Salakar is obviously working.

[2017-01-09 15:16] #220 closed

[2017-01-09 15:17] IljaDaderko commented on #198
https://github.com/fullstackreact/react-native-firestack/pull/223 needs to be filled out

[2017-01-09 19:43] kristiansorens opened #224 "Using firestack with react-native-fcm"
Hey!

I'm trying to implement react-native-fcm in my app with firestack already implemented, but i'm having a lot of problems building for android (haven't tried ios yet). Basically I think the main issue is that the shared dependencies are causing the build to fail. I have simply followed the firestack implementation guide followed by the guide to implement react-native-fcm.

Has anyone successfu

[2017-01-09 19:56] TomAtterton opened #225 "RCTReloadNotification Removed."
RCTReloadNotification  has been removed from the newest version of react-native released 5 days ago (https://github.com/facebook/react-native/releases/tag/v0.40.0), yet still used in firestack.m

<img width="771" alt="screen shot 2017-01-09 at 20 49 47" src="https://cloud.githubusercontent.com/assets/5540723/21780981/d739e254-d6ad-11e6-93d0-37b66e456714.png">

[2017-01-10 03:09] rigobcastro commented on #182
@blumanski Hi, I have the same error with the version 2.3.6. What was your solution? Thanks!

[code]

[2017-01-10 05:11] AshokICreate commented on #225
I am getting this error when i run `project.xcworkspace.`

I am having same issue `use of undeclared identifier RCTReloadNotification`.

[2017-01-10 06:27] SteffeyDev commented on #69
I am getting the same issue "FirebaseApp name [DEFAULT] already exists!", full error from react native:

`firestack             | [info] Native error occurred while calling configure Object {msg: "FirebaseApp name [DEFAULT] already exists!"}msg: "FirebaseApp name [DEFAULT] already exists!"__proto__: Object`

This occurs just after calling `this.firestack = new Firestack({
      debug: true
    });

[2017-01-10 08:17] #225 closed

[2017-01-10 08:20] TomAtterton commented on #225
Noticed this is a duplicate of #218

[2017-01-10 08:36] neosign commented on #214
@Ehesp
After spent sometime to update Firestack V3 (3.0.0-0) and Android SDK then the issue was gone.

I don't have much time to verify the which issue belongs to V2 or Android SDK.

PS. v2 to v3 I have to modify the code
"firestack.storage.uploadFile()" to "firestack.storage().uploadFile"

[2017-01-10 14:21] petergerdes commented on #204
I got the same but with signInWithProvider.
As far as I can see, the setup should work.

[2017-01-10 18:36] IljaDaderko commented on #219
Any update on the fix for this error? At the moment can't figure out a work around and due to xCode failing the build, I can't run app on my iPhone device. Works with failed build in simulator interestingly.